<template>
    <div class="group">
        <div class="group_table">
          <avue-crud :data="swiper.data" :option="option" v-model:search="swiper.proSearch" @selection-change="swiper.swiperChange" :page="page" @size-change="swiper.swiperSizeChange" @current-change="swiper.swiperCurrentChange">
              <template #status-search="{size}">
                        <el-select placeholder="状态" :size="size" v-model="swiper.proSearch.status">
                            <el-option value="禁用"/>
                            <el-option value="正常"/>
                        </el-select>
            </template>
              <template #search-menu='{row,size}'>
                        <el-button type="primary" color='#02A1E9' @click="swiper.searchnoList(row)"  :size="size">
                            <svg t="1666702400921" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2543" width="13" height="13"><path d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z" fill="#ffffff" p-id="2544"></path></svg>
                            搜索
                        </el-button>
            </template>
              <template #menu-left="{}">
                <el-button type="primary"
                            color='#02A1E9'
                            icon="el-icon-plus" @click="swiper.addSwiperDisplay=true">新增</el-button>
                <el-button type="danger"
                            color='#fab6b6' @click="swiper.delets">批量删除</el-button>
              </template>
              <template #status="scope">
                <el-tag v-if="scope.row.status===1"> 正常</el-tag>           
                <el-tag v-else > 禁用</el-tag>
              </template>
              <template #imgUrl="scope">
                <img :src='`http://img-test.gz-yami.com/${scope.row.imgUrl}`' alt="">
              </template>
              <template #menu='{row,index,size}'>
            <el-button type="primary"
                        color='#02A1E9'
                        icon="el-icon-edit"
                        :size="size" @click="swiper.editswiper(row)">修改</el-button>
            <el-button type="primary"
                        color='#F56C6C'
                        icon="el-icon-delete"
                        :size="size" @click="delone(row)">删除</el-button>
            </template>
          </avue-crud>
          <div class="group_table_pagination">
              
          </div>
          <MyAlert></MyAlert>
            <!-- 编辑 -->
        <el-dialog v-model="swiper.editSwiperDisplay" title="新增">
          <el-form :model="swiper.editswiperForm" label-position='right' label-width="70px">
            <el-form-item label="分类图片">
                      <el-upload
                        class="avatar-uploader"
                        action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload"
                      >
                        <img v-if="imageUrl" :src="imageUrl" class="avatar" />
                        <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
                      </el-upload>
                    </el-form-item>
              <el-form-item label="顺序">
                  <el-input v-model="swiper.editswiperForm.seq" />
              </el-form-item>
              <el-form-item label="状态">
                <el-radio-group v-model="swiper.editswiperForm.status" class="ml-4">
                    <el-radio :label="1" size="small">正常</el-radio>
                    <el-radio :label="0" size="small">禁用</el-radio>
                  </el-radio-group>
              </el-form-item>
              <el-form-item label="类型">
                <el-radio-group v-model="swiper.editswiperForm.type" class="ml-4">
                    <el-radio :label="1" size="small">无</el-radio>
                    <el-radio :label="0" size="small">商品</el-radio>
                  </el-radio-group>
              </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="swiper.editSwiperDisplay = false">取消</el-button>
              <el-button type="primary" @click="swiper.editSwiperList()">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
             <!-- 新增 -->
        <el-dialog v-model="swiper.addSwiperDisplay" title="新增">
          <el-form :model="swiper.swiperForm" label-position='right' label-width="70px">
            <el-form-item label="分类图片">
                      <el-upload
                        class="avatar-uploader"
                        action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload"
                      >
                        <img v-if="imageUrl" :src="imageUrl" class="avatar" />
                        <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
                      </el-upload>
                    </el-form-item>
              <el-form-item label="顺序">
                  <el-input v-model="swiper.swiperForm.seq" />
              </el-form-item>
              <el-form-item label="状态">
                <el-radio-group v-model="swiper.swiperForm.status" class="ml-4">
                    <el-radio :label="1" size="small">禁用</el-radio>
                    <el-radio :label="0" size="small">正常</el-radio>
                  </el-radio-group>
              </el-form-item>
              <el-form-item label="类型">
                <el-radio-group v-model="swiper.swiperForm.type" class="ml-4">
                    <el-radio :label="1" size="small">无</el-radio>
                    <el-radio :label="0" size="small">商品</el-radio>
                  </el-radio-group>
              </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="swiper.addSwiperDisplay = false">取消</el-button>
              <el-button type="primary" @click="swiper.addSwiperList()">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
        </div>
    </div>
  </template>
  
  <script setup lang='ts'>
  import userStore from '../../../../store'
  import MyAlert from "./MyAlert.vue"
  const {swiper}=userStore()
  
  swiper.getList()
  const option={
          search: {},
          border:true,
          align:'center',
          addBtn: false,
          menuWidth: 350,
          searchBtn:false,
          emptyBtn:true,
          selection: true,
          editBtn:false,
          delBtn:false,
        searchMenuSpan:4,
            column:[{
                label:'轮播图片',
                prop:'imgUrl',
                slot:true,
                width:120
            },{
                label:'顺序',
                prop:'seq',
              },{
                label:'状态',
                prop:'status',
                slot:true,
                search:true
              },
            ]
          }
          const delone=(row:any)=>{
            swiper.dialogVisible=true
            swiper.delId=row.imgId
}
          const page={
                      total:swiper.swiperpage.total,
                      current:swiper.swiperpage.current,
                      size:swiper.swiperpage.size,
                    }
import { ref } from 'vue'
import { ElMessage } from 'element-plus'

import type { UploadProps } from 'element-plus'

const imageUrl = ref('')

const handleAvatarSuccess: UploadProps['onSuccess'] = (
  response,
  uploadFile
) => {
  imageUrl.value = URL.createObjectURL(uploadFile.raw!)
}

const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
  if (rawFile.type !== 'image/jpeg') {
    ElMessage.error('Avatar picture must be JPG format!')
    return false
  } else if (rawFile.size / 1024 / 1024 > 2) {
    ElMessage.error('Avatar picture size can not exceed 2MB!')
    return false
  }
  return true
}
  </script>
  
  <style lang='scss' scoped>
      .group{
          width: 100%;
          height: 100%;
          padding: 24px;
          box-sizing: border-box;
          .group_table{
              margin-top: 10px;
              .group_table_pagination{
                  width: 100%;
                  height: 50px;
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
              }
          }
      }
      svg{
          margin-right: 5px;
      }
      .cell{
        img{
            width: 85px;
            height: 100px;
        }
      }
  </style>