<template>
  <el-dialog
    v-model="swiper.dialogVisible"
    title="删除"
    width="30%"
  >
    <span>确定删除吗</span>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="swiper.dialogVisible = false">取消</el-button>
        <el-button type="primary" @click="delTure">
          确定
        </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { ElMessageBox } from 'element-plus'
import store from '../../../../store'
const { swiper }=store()
const emit =defineEmits(['truedel'])
const delTure=()=>{
  swiper.dialogVisible = false
  swiper.truedelone()
}
</script>

<style scoped>
    .dialog-footer button:first-child {
        margin-right: 10px;
    }
</style>