<template>
  <div class="group">
      <div class="group_table">
        <avue-crud :data="notice.data" :option="option" v-model:search="notice.proSearch" :page="page" @size-change="notice.noticeSizeChange" @current-change="notice.noticeCurrentChange">
            <template #title-search="{size}">
                        <el-input :size="size"  placeholder="公告内容"  v-model="notice.proSearch.title"/>
            </template>
            <template #status-search="{size}">
                        <el-select placeholder="状态" :size="size" v-model="notice.proSearch.status">
                            <el-option value="发布"/>
                            <el-option value="未发布"/>
                        </el-select>
            </template>
            <template #isTop-search="{size}">
                        <el-select placeholder="是否置顶" :size="size" v-model="notice.proSearch.isTop">
                            <el-option value="是"/>
                            <el-option value="否"/>
                        </el-select>
            </template>
            <template #search-menu='{row,size}'>
                        <el-button type="primary" color='#02A1E9' @click="notice.searchnoList(row)"  :size="size">
                            <svg t="1666702400921" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2543" width="13" height="13"><path d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z" fill="#ffffff" p-id="2544"></path></svg>
                            搜索
                        </el-button>
            </template>
            <template #menu-left="{}">
                <el-button type="primary"
                            color='#02A1E9'
                            icon="el-icon-plus" @click="notice.addnoticeDisplay=true">新增</el-button>
            </template>
            <template #status="scope">
                <el-tag v-if="scope.row.status===1"> 发布</el-tag>           
                <el-tag v-else > 未发布</el-tag>
            </template>
            <template #isTop="scope">
                <el-tag v-if="scope.row.isTop===1"> 是</el-tag>           
                <el-tag v-else > 否</el-tag>
            </template>
            <template #menu='{row,index,size}'>
            <el-button type="primary"
                        color='#02A1E9'
                        icon="el-icon-edit"
                        :size="size" @click="notice.noticeDisplay(row)">修改</el-button>
            <el-button type="primary"
                        color='#F56C6C'
                        icon="el-icon-delete"
                        :size="size" @click="delone(row)">删除</el-button>
            </template>
        </avue-crud>
        <div class="group_table_pagination">
            
        </div>
        <MyAlert>

        </MyAlert>
           <!-- 修改 -->
           <el-dialog v-model="notice.editnoticeDisplay" title="新增">
          <el-form :model="notice.editnoticeForm" label-position='right' label-width="70px">
              <el-form-item label="公告标题">
                  <el-input v-model="notice.editnoticeForm.title" />
              </el-form-item>
              <el-form-item label="状态">
                  <el-radio-group v-model="notice.editnoticeForm.status" class="ml-4">
                    <el-radio :label="1" size="small">公布</el-radio>
                    <el-radio :label="0" size="small">撤销</el-radio>
                  </el-radio-group>
              </el-form-item>
              <el-form-item label="置顶">
                <el-radio-group v-model="notice.editnoticeForm.isTop" class="ml-4">
                    <el-radio :label="1" size="small">是</el-radio>
                    <el-radio :label="0" size="small">否</el-radio>
                  </el-radio-group>
              </el-form-item>
              <el-form-item label="公告内容">
                <el-input v-model="notice.editnoticeForm.content" />
              </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="notice.editnoticeDisplay = false">取消</el-button>
              <el-button type="primary" @click="notice.editnoticeList()">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
          <!-- 新增 -->
        <el-dialog v-model="notice.addnoticeDisplay" title="新增">
          <el-form :model="notice.noticeForm" label-position='right' label-width="70px">
              <el-form-item label="公告标题">
                  <el-input v-model="notice.noticeForm.title" />
              </el-form-item>
              <el-form-item label="状态">
                  <el-radio-group v-model="notice.noticeForm.status" class="ml-4">
                    <el-radio :label="1" size="small">公布</el-radio>
                    <el-radio :label="0" size="small">撤销</el-radio>
                  </el-radio-group>
              </el-form-item>
              <el-form-item label="置顶">
                <el-radio-group v-model="notice.noticeForm.isTop" class="ml-4">
                    <el-radio :label="1" size="small">是</el-radio>
                    <el-radio :label="0" size="small">否</el-radio>
                  </el-radio-group>
              </el-form-item>
              <el-form-item label="公告内容">
                <el-input v-model="notice.noticeForm.content" />
              </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="notice.addnoticeDisplay = false">取消</el-button>
              <el-button type="primary" @click="notice.addnoticeList()">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
      </div>
  </div>
</template>

<script setup lang='ts'>
import userStore from '../../../../store'
import MyAlert from "./MyAlert.vue"
const {notice}=userStore()
notice.getList()

const option={
        search: {},
        border:true,
        align:'center',
        addBtn: false,
        menuWidth: 350,
        searchBtn:false,
        emptyBtn:true,
        selection: true,
        indexLabel:'序号',
        index:true,
        indexWidth:60,
        editBtn:false,
        delBtn:false,
        searchMenuSpan:4,

          column:[{
              label:'公告内容',
              prop:'title',
              search:true
            },{
              label:'状态',
              prop:'status',
              slot:true,
              search:true
            },{
              label:'是否置顶',
              prop:'isTop',
              slot:true,
              search:true
            },
          ]
        }

const delone=(row:any)=>{
    notice.dialogVisible=true
    notice.delId=row.id
}
const page={
            total:notice.noticepage.total,
            current:notice.noticepage.current,
            size:notice.noticepage.size,
          }
</script>

<style lang='scss' scoped>
    .group{
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        .group_table{
            margin-top: 10px;
            .group_table_pagination{
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
    svg{
        margin-right: 5px;
    }
</style>