<template>
  <el-dialog
  v-model="login.LogindialogVisible"
  title="修改密码"
  width="50%"
  >
    <el-form>
        <el-form-item label="账号">
            {{login.userInfo.username}}
        </el-form-item>
        <el-form-item label="原密码">
            <el-input v-model="login.originalInput" placeholder="请输入原密码"/>
        </el-form-item>
        <el-form-item label="新密码">
            <el-input v-model="login.NewPwd" placeholder="请输入新密码"/>
        </el-form-item>
        <el-form-item label="确认密码">
            <el-input v-model="login.TwoNewPwd" placeholder="确认密码"/>
        </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="login.LogindialogVisible = false">取消</el-button>
        <el-button type="primary" @click="login.ChangePwd">
          确定
        </el-button>
      </span>
    </template>
  </el-dialog> 
</template>

<script lang="ts" setup>
    import store from '../../store'
    const { login }=store()

</script>

<style>

</style>