<template>
  <el-menu
    background-color="#263238"
    text-color="#fff"
    active-text-color="#ffd04b"
    router
  >
    <h1 class="Logo">
        亚米建站后台
    </h1>
    <el-menu-item index="/">
        <el-icon ><House/></el-icon>
        <span>首页</span>
    </el-menu-item>
    <el-sub-menu 
        v-for="item in menuList"
        :key="item.menuId"
        :index="'/'+item.list[0].url"
    >
        <template #title background-color="#263238">
          <svg aria-hidden="true" class="site-sidebar__menu-icon icon-svg icon-svg__system"><use xlink:href="#icon-{{item.icon}}"></use></svg>
            <span>{{item.name}}</span>
        </template>
        <el-menu-item v-for="subItem in item.list"
            :key="subItem.menuId"
            :index="'/'+subItem.url"
            background-color="#263238"
        >
            <svg aria-hidden="true" class="site-sidebar__menu-icon icon-svg icon-svg__system"><use xlink:href="#icon-{{subItem.icon}}"></use></svg>
            {{subItem.name}}
        </el-menu-item>
    </el-sub-menu>
  </el-menu>
</template>

<script setup lang="ts" >
    import store from '../../store'
    import { computed } from 'vue'
    const { login } = store()
    const menuList=computed(()=>login.menuList)
</script>

<style scoped lang="scss">
    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 200px;
      min-height: 400px;
      overflow: hidden;
    }
    .el-menu{
      height: 100%;
      width: 100%;
      .Logo{
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        background: #02a1e9;
        color: #fff;
      }
      
    }
    .el-menu-item{
        width: 182px;
    }
    .icon-svg {
      width: 1em;
      height: 1em;
      fill: currentColor;
      overflow: hidden;
    }
</style>