<template>
  <el-dialog
    v-model="system.menudialogVisible"
    title="新增"
    width="50%"
  >
    <el-form :model="system.menuFormData">
        <el-form-item label="类型">
            <el-radio-group v-model="system.menuFormData.menuradio" @change="radiochange">
                <el-radio label="0" size="large">目录</el-radio>
                <el-radio label="1" size="large">菜单</el-radio>
                <el-radio label="2" size="large">按钮</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="菜单名称" v-if="system.menuFormData.menuradio=='1'">
            <el-input v-model="system.menuFormData.name" placeholder="菜单名称"/>
        </el-form-item>
        <el-form-item label="目录名称" v-if="system.menuFormData.menuradio=='0'">
            <el-input v-model="system.menuFormData.name" placeholder="目录名称"/>
        </el-form-item>
        <el-form-item label="上级菜单" v-if="system.menuFormData.menuradio=='0'||system.menuFormData.menuradio=='1'">
            <el-cascader
              expand-trigger="hover"
              v-model="system.menuFormData.topname"
              :options="system.menudata"
              change-on-select
              :props="props"
              @change="system.handleSelectMenuChange"
            >
            </el-cascader>
        </el-form-item>
        <el-form-item label="菜单路由" v-if="system.menuFormData.menuradio=='1'">
            <el-input v-model="system.menuFormData.url" placeholder="菜单路由"/>
        </el-form-item>
        <el-form-item label="授权标识" v-if="system.menuFormData.menuradio=='1'||system.menuFormData.menuradio=='2'">
            <el-input v-model="system.menuFormData.perms" placeholder="授权标识"/>
        </el-form-item>
        <el-form-item label="排序号">
          <el-input-number
            v-model="system.menuFormData.orderNum"
            :min="0"
            :max="10"
            controls-position="right"
            size="large"
            @change="handleChange"
          />
        </el-form-item>
        <el-form-item label="菜单图标">
          <el-row>
          <el-col :span="22">
            <el-popover
              ref="iconListPopover"
              placement="bottom-start"
              trigger="click"
              popper-class="mod-menu__icon-popover">
              <div class="mod-menu__icon-list">
  
              </div>
            </el-popover>
            <el-input  v-popover:iconListPopover :readonly="true" placeholder="菜单图标名称" class="icon-list__input"></el-input>
          </el-col>
        </el-row>
        </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="system.menudialogVisible = false">取消</el-button>
        <el-button type="primary" @click="system.menuAddTrue">
          确定
        </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script lang="ts" setup>
    import store from '../../../../store/index'
    const { system }=store()
    const menuListTreeProps={
      value: 'menuId',
      label: 'name'
    }
    const props = {
        checkStrictly: true,
        value: 'menuId',
        label: 'name'
    }
    const getCheckedNodes=(value:any)=>{
        console.log(system.menuCas)
    }
    const handleChange=()=>{

    }
    const radiochange=(value:any)=>{
      system.menuFormData.menuradio=value
    }

</script>

<style scoped lang="scss">
  .iconBtn{
    width: 70%;
    height: 40px;
  }
  .el-input__inner {
    cursor: pointer;
  }
  
</style>