<template>
    <div>
      <el-dialog
          v-model="system.configEditdialogVisible"
          title="修改"
          width="30%"
      >
          <el-form ref="ruleFormRef" :rules="rules">
              <el-form-item label="参数名" prop="paramKey">
                  <el-input v-model="system.configEditForm.paramKey" placeholder="参数名" autocomplete="off" />
              </el-form-item>
              <el-form-item label="参数值" prop="paramValue">
                  <el-input v-model="system.configEditForm.paramValue" placeholder="参数值" autocomplete="off" />
              </el-form-item>
              <el-form-item label="备注" prop="remark">
                  <el-input v-model="system.configEditForm.remark" placeholder="备注" autocomplete="off" />
              </el-form-item>
          </el-form>
          <template #footer>
              <span class="dialog-footer">
                  <el-button @click="system.configEditdialogVisible = false">取消</el-button>
                  <el-button type="primary" @click="system.configEditItem">
                  确定
                  </el-button>
              </span>
          </template>
      </el-dialog>
      
    </div>
  </template>
  
  <script setup lang="ts">
      import { reactive, ref } from 'vue'
      import store  from '../../../../store'
      import { ElMessageBox } from 'element-plus'
      import type { FormInstance, FormRules } from 'element-plus'
      const { system } =store()
      const ruleFormRef = ref<FormInstance>()
      const rules = reactive<FormRules>({
          paramKey:[{required:true,message:'请输入参数名',trigger:'blur'},],
          paramValue:[{required:true,message:'请输入参数值',trigger:'blur'}],
      })
  </script>
  
  <style scoped>
      .dialog-footer button:first-child {
          margin-right: 10px;
      }
  </style>