/<template>
  <div class="system">
    <avue-crud 
    v-model:page="page" 
    :data="system.paradata" 
    :option="option" 
    v-model:search="system.configSearch"
    @selection-change="selectionChange"
    @on-load="onLoad"
    >
            <template #paramKey-search="{size}">
                  <el-input :size='size' placeholder="参数名" v-model="system.configSearch.paramKey"/>
            </template>
            <template #search-menu='{row}'>
                <el-button type="primary" color='#02A1E9' @click="system.searchconfig(row)">
                    <svg t="1666702400921" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2543" width="13" height="13"><path d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z" fill="#ffffff" p-id="2544"></path></svg>
                    搜索
                </el-button>
                <el-button>
                    <svg t="1666702696515" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4310" width="13" height="13"><path d="M608 768c-17.696 0-32-14.304-32-32L576 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C640 753.696 625.696 768 608 768z" p-id="4311" fill="#8a8a8a"></path><path d="M416 768c-17.696 0-32-14.304-32-32L384 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C448 753.696 433.696 768 416 768z" p-id="4312" fill="#8a8a8a"></path><path d="M928 224l-160 0L768 160c0-52.928-42.72-96-95.264-96L352 64C299.072 64 256 107.072 256 160l0 64L96 224C78.304 224 64 238.304 64 256s14.304 32 32 32l832 0c17.696 0 32-14.304 32-32S945.696 224 928 224zM320 160c0-17.632 14.368-32 32-32l320.736 0C690.272 128 704 142.048 704 160l0 64L320 224 320 160z" p-id="4313" fill="#8a8a8a"></path><path d="M736.128 960 288.064 960c-52.928 0-96-43.072-96-96L192.064 383.52c0-17.664 14.336-32 32-32s32 14.336 32 32L256.064 864c0 17.664 14.368 32 32 32l448.064 0c17.664 0 32-14.336 32-32L768.128 384.832c0-17.664 14.304-32 32-32s32 14.336 32 32L832.128 864C832.128 916.928 789.056 960 736.128 960z" p-id="4314" fill="#8a8a8a"></path></svg>
                     清空
                </el-button>
            </template>
            <template #menu-left="{}">
                <el-button type="primary"
                            color='#02A1E9'
                            icon="el-icon-plus"
                            @click="system.configAdddialogVisible=true"
                            >新增</el-button>
                <el-button  v-if="system.configDelList.length"
                            type="danger"
                            @click="system.configdelItem"
                            >批量删除</el-button>
                <el-button type="danger" v-else disabled>批量删除</el-button>
            </template>
            <template #status="scope">
              <el-tag v-if="scope.row.status === 1" size="small">正常</el-tag>
              <el-tag v-else size="small">锁定</el-tag>
            </template>
            <template #menu='{row}'>
              <el-button type="primary" @click="Edit(row)">修改</el-button>
              <el-button type="danger" @click="delOne(row)">删除</el-button>
            </template>
        </avue-crud>
        <MyAlert/>
        <NewAdd/>
        <EditAlert/>
  </div>
</template>

<script lang="ts" setup>
  import { ref } from 'vue'
  import { _get_paraList } from '../../../../api/system'
  import Store from '../../../../store'
  import MyAlert from './MyAlert.vue'
  import NewAdd from './NewAdd.vue'
  import EditAlert from './EditFrom.vue'
  const { system }= Store()

  system.get_configlist()

  const page=ref({
        total: system.configTotal,
        currentPage: system.configcurrent,
        pageSize: system.configsize
      })
  const option={
          search: {},
          border:true,
          align:'center',
          addBtn: false,
          searchBtn:false,
          emptyBtn:false,
          selection: true,
          editBtn:false,
          delBtn:false,
          searchMenuSpan:5,
            column:[
              {
                label:'参数名',
                prop:'paramKey',
                search:true
              },
              {
                label:'参数值',
                prop:'paramValue',
              },
              {
                label:'备注',
                prop:'remark',
              }
            ]
          }
const delOne=(row:any)=>{
  system.configDelList=[]
  system.configDelList.push(row.id)
  system.configdialogVisible=true;
}
const Edit=(row:any)=>{
  system.configEditdialogVisible=true
  system.configEditForm=row
}
const selectionChange=(list:any)=>{
  list.forEach((item:any)=>{
    system.configDelList.push(item.id)
  })
}
const onLoad=()=>{

}


</script>

<style lang="scss" scoped>
  .system{
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        .button{
          color: #fff !important;
        }
        form{
            width: 100%;
            display: flex;
            font-size: 12px !important;
            .el-form-item{
                margin-right: 10px;
            }
        }
        .produce_table{
            margin-top: 10px;
        }
    }
    svg{
        margin-right: 5px;
    }
    .cell{
      img{
        width: 124px;
        height: 124px;
      }
    }
</style>