<template>
  <el-form
    v-if="editData"
    ref="ruleFormRef"
    :model="editData"
    label-width="120px"
  >
    <el-form-item label="图片" :prop="editData.pic">
      <img v-if="editData.pic" :src="editData.pic" />
    </el-form-item>
    <el-form-item label="用户名" :prop="editData.nickName">
      <el-input
        v-model="editData.nickName"
        placeholder="用户名"
        disabled="true"
      />
    </el-form-item>
    <el-form-item label="状态" :prop="editData.status">
      <el-radio-group v-model="editData.status" class="ml-4">
        <el-radio :label="1" size="large">正常</el-radio>
        <el-radio :label="0" size="large">禁用</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="handleClose()">取消</el-button>
      <el-button type="primary" @click="sure">确定</el-button>
    </el-form-item>
  </el-form>
</template>

<script setup lang="ts">
import { editMember } from "../../../../store/module/member";
import { toRefs } from "vue";
import { editMemberType } from "../types";

const props = defineProps<{
  editData: editMemberType;
}>();
const { editData } = toRefs(props);
const emit = defineEmits(["handleClose", "sure"]);
const handleClose = () => {
  emit("handleClose");
};
const sure = async () => {
  if (editData.value) {
    try {
      await editMember({
        nickName: editData.value.nickName,
        status: editData.value.status,
        userId: editData.value.userId,
      });
    } catch (error) {
      console.log(error);
    }
  }
  await emit("sure");
};
</script>

<style scoped></style>
