//会员管理
<template>
  <el-form
    v-if="show"
    ref="searchForm"
    :inline="true"
    :model="formInline"
    class="demo-form-inline"
  >
    <el-form-item label="用户昵称" prop="nickName">
      <el-input v-model="formInline.nickName" placeholder="搜索用户昵称" />
    </el-form-item>
    <el-form-item label="状态" prop="status">
      <el-select
        v-model="formInline.status"
        class="m-2"
        placeholder="Select"
        size="large"
      >
        <el-option
          v-for="item in formInline.options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit">搜索</el-button>
      <el-button @click="resetFields">清空</el-button>
    </el-form-item>
  </el-form>
</template>

<script setup lang="ts">
import { FormInstance } from "element-plus";
import { ref, toRefs } from "vue";

interface OptionType {
  value: number;
  label: string;
}
interface formInlineType {
  nickName: string;
  options: OptionType[];
  status: number | undefined;
}
const props = defineProps<{
  show: boolean;
  formInline: formInlineType;
}>();
const { show, formInline } = toRefs(props);

const emit = defineEmits(["onSubmit", "resetFields"]);

const onSubmit = () => {
  emit("onSubmit");
};
const searchForm = ref<FormInstance>();
const resetFields = () => {
  emit("resetFields", searchForm);
};
</script>

<style scoped></style>
