*{
  margin: 0;
  padding: 0;
}
html,body,#app,#demo{
  width: 100%;
  height: 100%;
}
.home{
  width: 100%;
  height: 100%;
}
:root{
  --el-font-size-base: 13px !important;
  --el-color-black: #ffffff !important;
}
.el-table{
  --el-table-header-text-color:#000 !important;
}