<template>
<!-- 登录页面 -->
  <div class="login">
    <div class="login-box">
      <div class="top">
        <img src="../../../static/img/logo.png" alt="">
      </div>
      <div class="mid">
        <el-form 
         :model="dataForm"  
         ref="ruleFormRef" 
         :rules="rulesConfig">

          <el-form-item prop="username">
            <el-input 
            v-model="dataForm.username" 
            placeholder="账号" 
            size="large"/>
          </el-form-item>

          <el-form-item prop="pwd">
            <el-input 
            v-model="dataForm.pwd"
             type="password"
              placeholder="密码" 
              size="large"/>
          </el-form-item>

          <el-form-item prop="code">
            <el-input 
            v-model="dataForm.code" 
            placeholder="验证码"
              size="large" 
              class="w-50"/>
            <img @click="getNewCode"
             style="width:150px;marginLeft:20px;" 
             :src="dataForm.captchaImg" 
             alt="">
          </el-form-item>

          <el-form-item>
            <el-button type="primary" 
            style="width:100%;height:40px;"
             @click="submitForm">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {reactive} from 'vue'
import { ref } from 'vue';
import { uuid } from 'vue-uuid'
import useStore from '../../store'
import type { FormInstance } from 'element-plus'
import { rulesConfig } from './rule'
import { _login } from '../../api/login'
import local from '../../utils/util'
import router from '../../router';

const { login }=useStore();
// 获取表单组件实例
const ruleFormRef = ref<FormInstance>()
// 表单数据
const dataForm=reactive({
  code:'',
  username:'',
  pwd:'',
  uuidCode:'',
  captchaImg:''
})
const rules=reactive(rulesConfig)

// 获取验证码图片地址
const getCode=()=>{
  dataForm.uuidCode=uuid.v4()
  dataForm.captchaImg=ref(`/api/captcha.jpg?uuid=${dataForm.uuidCode}`) as any
}
getCode()

const getNewCode=()=>{
  getCode()
}
//登录按钮
const submitForm= async ()=>{
  try{
    let res = await _login({
      'principal': dataForm.username,
      'credentials': dataForm.pwd,
      'sessionUUID': dataForm.uuidCode,
      'imageCode': dataForm.code
    })
    if(res.status===200){
      login.loginAction()
      local.setCache('token',res.data.token_type+res.data.access_token)
      local.setCache('authorities',res.data.authorities)
      router.push('/homepage')
    }
  }catch{
    getCode();
    dataForm.code='';
    dataForm.username='';
    dataForm.pwd='';
  }
  
  
    
}
</script>

<style lang="scss" scoped>
  .login{
    width: 100%;
    height: 100%;
    background: url(/static/img/login-bg.909c916.png) no-repeat;
    background-size: cover;
    position: fixed;
    .login-box{
      width: 410px;
      height: 100%;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      height: 100%;
      padding-top: 10%;
      .top{
        width: 100%;
        height: 44px;
        margin-bottom: 30px;
        text-align: center;
      }
      .mid{
        .w-50{
          width: 230px;
        }
      }
    }
  }
</style>