<template>
  <div class="home">
    <el-container>
      <el-aside width="200px">
        <MentNav/>
      </el-aside>
      <el-main>
        <el-header>
          <el-icon :size="25">
            <svg t="1666613342075" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14611" width="40" height="40"><path d="M849.1 128 174.9 128c-25.9 0-46.9 21-46.9 46.9l0 34.2c0 25.9 21 46.9 46.9 46.9l674.2 0c25.9 0 46.9-21 46.9-46.9l0-34.2C896 149 875 128 849.1 128z" p-id="14612" fill="#646566"></path><path d="M849.1 768 174.9 768c-25.9 0-46.9 21-46.9 46.9l0 34.2c0 25.9 21 46.9 46.9 46.9l674.2 0c25.9 0 46.9-21 46.9-46.9l0-34.2C896 789 875 768 849.1 768z" p-id="14613" fill="#646566"></path><path d="M849.1 448 174.9 448c-25.9 0-46.9 21-46.9 46.9l0 34.2c0 25.9 21 46.9 46.9 46.9l674.2 0c25.9 0 46.9-21 46.9-46.9l0-34.2C896 469 875 448 849.1 448z" p-id="14614" fill="#646566"></path></svg>
          </el-icon>
          <div class="user">
            <el-dropdown>
              {{login.userInfo.username}}
              <template #dropdown>
              <el-dropdown-menu>
                <el-dropdown-item @click="login.LogindialogVisible=true">修改密码</el-dropdown-item>
                <el-dropdown-item  @click="outLogin">退出登录</el-dropdown-item>
              </el-dropdown-menu>
            </template>
            </el-dropdown>
          </div>
        </el-header>
        <div class="main">
          <div class="main_con">
            <router-view/>
          </div>
        </div>
      </el-main>
    </el-container>
    <ChangePwd/>
  </div>
</template>

<script setup lang="ts">
  import MentNav from '../../components/menuNav/index.vue'
  import { useRouter } from 'vue-router';
  import store from '../../store'
  import ChangePwd from '../../components/ChangePwd/index.vue'
  const { login }=store()
  const $router=useRouter()
  const outLogin=()=>{
    $router.push({path:'/login'})
    window.localStorage.clear()
  }
</script>


<style scoped lang="scss">
  .el-container{
    height: 100%;
    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 200px;
      min-height: 400px;
    }
    .el-menu{
      height: 100%;
      .Logo{
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        background: #02a1e9;
        color: #fff;
      }
    }
    .el-main{
      padding:0;
      background-color: #f4f4f4;
      overflow: scroll;
      .el-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
      }
      .main{
        width: 100%;
        box-sizing: border-box;
        height: calc(100% - 60px);
        padding: 20px;
        margin-top: 10px;
        .main_con{
          width: 100%;
          height: 100%;
          background-color: #fff;
        }
      }
    }
    
  }
</style>