<template>
  <div class="timing">
    <avue-crud 
    :data="system.logdata" 
    :option="option" 
    v-model:page="page" 
    v-model:search="system.systemSearch"
    @on-load="onLoad"
    >
            <template #username-search="{size}">
              <el-input :size="size" v-model="system.systemSearch.username" placeholder="用户名"/>
            </template>
            <template  #operation-search="{size}">
              <el-input :size="size" v-model="system.systemSearch.operation" placeholder="用户操作"/>
            </template>
            <template #search-menu='{row,size}'>
              <el-button  type="primary" :size="size" @click="system.searchsys(row)">
                <svg t="1666702400921" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2543" width="13" height="13"><path d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z" fill="#ffffff" p-id="2544"></path></svg>
                  搜索
              </el-button>
              <el-button :size="size">
                  清空
              </el-button>
            </template>
        </avue-crud>
  </div>
</template>

<script lang="ts" setup>
  import {reactive} from 'vue'
  import { _getlog_list } from '../../../../api/system'
  import Store from '../../../../store'
  const { system }= Store()

  
  system.get_list()

  const page=reactive({
        total: system.logtotal,
        currentPage: system.logcurrent,
        pageSize: system.logsize
      })


  const option={
          search: {},
          border:true,
          align:'center',
          addBtn: false,
          searchBtn:false,
          emptyBtn:false,
          selection: true,
          editBtn:false,
          delBtn:false,
          menu:false,
          columnBtn:false,
          searchMenuSpan:5,
            column:[
              {
                label:'用户名',
                prop:'username',
                search:true
              },
              {
                label:'用户操作',
                prop:'operation',
                search:true
              },
              {
                label:'请求方法',
                prop:'method',
              },
              {
                label:'请求参数',
                prop:'params',
              },
              {
                label:'执行时长(毫秒)',
                prop:'time',
              },
              {
                label:'IP地址',
                prop:'ip',
              },
              {
                label:'创建时间',
                prop:'createDate',
              },
              {
                label:'',
                prop:'index',
              }
            ]
          }
      const onLoad=(page:any)=>{
        console.log(page)
        system.logcurrent=page.currentPage
        system.get_list()
      }


</script>

<style lang="scss" scoped>
  .timing{
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        .button{
          color: #fff !important;
        }
        form{
            width: 100%;
            display: flex;
            font-size: 12px !important;
            .el-form-item{
                margin-right: 10px;
            }
        }
        .produce_table{
            margin-top: 10px;
        }
    }
    svg{
        margin-right: 5px;
    }
    .cell{
      img{
        width: 124px;
        height: 124px;
      }
    }
    .el-input__wrapper{
      width: 70%;
    }
</style>