/<template>
  <div class="class">
       <avue-crud :data="product.classList" row-key="categoryId" :option="option" >
            <template #menu-left="{}">
                <el-button type="primary"
                            color='#02A1E9'
                            icon="el-icon-plus"
                            @click="product.classDisplay"
                            >新增</el-button>
            </template>
            <template #pic='scope'>
              <img :src='`http://img-test.gz-yami.com/${scope.row.pic}`' alt="">
            </template>
            <template #status="scope" >
                <el-tag v-if="scope.row.status===0">禁用</el-tag>
                <el-tag v-else>正常</el-tag>
            </template>
              <template #menu='{row}'>
                  <el-button type="primary"
                              color='#02A1E9'
                              @click="product.editclassDisplayTrue(row)"
                              >修改</el-button>
                  <el-button type="primary"
                              color='#F56C6C'
                              @click="delclassList(row)"
                              >删除</el-button>
              </template>
        </avue-crud>
              <!-- 新增 -->
              <el-dialog v-model="product.addclassDisplay" title="新增">
                <el-form :model="product.addclassForm" label-width="120px" :rules="dataRule">
                  <el-form-item label="分类图片">
                    <el-upload class="avatar-uploader" action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
                      :show-file-list="false" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload"
                      v-model="product.addclassForm.pic" prop="pic">
                      <img v-if="product.addclassForm.pic" :src="product.addclassForm.pic" class="avatar" />
                      <el-icon v-else class="avatar-uploader-icon">
                        <Plus />
                      </el-icon>
                    </el-upload>
                  </el-form-item>
                  <el-form-item label="分类名称" prop="categoryName">
                    <el-input v-model="product.addclassForm.categoryName" />
                  </el-form-item>
                  <el-form-item label="上级分类">
                    <el-cascader :options="product.classList" :props="product.categoryTreeProps" clearable />
                  </el-form-item>
                  <el-form-item label="排序号">
                    <el-input-number v-model="product.addclassForm.seq" :min="0" controls-position="right" size="large" />
                  </el-form-item>
                  <el-form-item label="状态">
                    <el-radio-group v-model="product.addclassForm.status">
                      <el-radio :label="1">正常</el-radio>
                      <el-radio :label="0">禁用</el-radio>
                    </el-radio-group>
                  </el-form-item>

                </el-form>
                <template #footer>
                  <span class="dialog-footer">
                    <el-button @click="product.addclassDisplay = false">取消</el-button>
                    <el-button type="primary" @click="product.addclassList()">
                      确定
                    </el-button>
                  </span>
                </template>
              </el-dialog>
              <!-- 修改 -->
              <el-dialog v-model="product.editclassDisplay" title="新增">
                <el-form :model="product.editclassForm" label-width="120px" :rules="dataRule">
                  <el-form-item label="分类图片">
                    <el-upload class="avatar-uploader" action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
                      :show-file-list="false" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload"
                      v-model="product.editclassForm.pic" prop="pic">
                      <img v-if="product.editclassForm.pic" :src="product.editclassForm.pic" class="avatar" />
                      <el-icon v-else class="avatar-uploader-icon">
                        <Plus />
                      </el-icon>
                    </el-upload>
                  </el-form-item>
                  <el-form-item label="分类名称" prop="categoryName">
                    <el-input v-model="product.editclassForm.categoryName" />
                  </el-form-item>
                  <el-form-item label="上级分类">
                    <el-cascader :options="product.classList" :props="product.categoryTreeProps" clearable />
                  </el-form-item>
                  <el-form-item label="排序号">
                    <el-input-number v-model="product.editclassForm.seq" :min="0" controls-position="right" size="large" />
                  </el-form-item>
                  <el-form-item label="状态">
                    <el-radio-group v-model="product.editclassForm.status">
                      <el-radio :label="1">正常</el-radio>
                      <el-radio :label="0">禁用</el-radio>
                    </el-radio-group>
                  </el-form-item>

                </el-form>
                <template #footer>
                  <span class="dialog-footer">
                    <el-button @click="product.editclassDisplay = false">取消</el-button>
                    <el-button type="primary" @click="product.editclassList()">
                      确定
                    </el-button>
                  </span>
                </template>
              </el-dialog>
  </div>
</template>

<script setup lang='ts'>
import userStore from '../../../../store'
import { ElMessage, ElMessageBox } from 'element-plus'
const {product}=userStore()
product.get_classList()
const option={
        search: {},
        border:true,
        align:'center',
        addBtn: false,
        editBtn:false,
        delBtn:false,
         rowKey: 'categoryId',
        rowParentKey: 'parentId',
          column:[{
              label:'分类名称',
              prop:'categoryName',
            },{
              label:'图片',
              prop:'pic',
              solt:true
            },{
              label:'状态',
              prop:'status',
              solt:true
            },{
              label:'排序号',
              prop:'seq'
            }
          ]
        }
import { reactive, ref } from 'vue'

import type { UploadProps } from 'element-plus'
import { del_classList } from '../../../../api/class'

const imageUrl = ref('')

const handleAvatarSuccess:any = (response:any,uploadFile:any) => {
  imageUrl.value = product.addclassForm.pic
}
const changeupload=(uploadFile:any,uploadFiles:any)=>{
  
}
const dataRule = reactive(
  {
    categoryName: [
      { required: true, message: '分类名称不能为空', trigger: 'blur' }
    ],
    pic: [
      { required: true, message: '分类图片不能为空', trigger: 'blur' }
    ]
  }
)
const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile) => {
  if (rawFile.type !== 'image/jpeg') {
    ElMessage.error('Avatar picture must be JPG format!')
    return false
  } else if (rawFile.size / 1024 / 1024 > 2) {
    ElMessage.error('Avatar picture size can not exceed 2MB!')
    return false
  }
  return true
}



const delclassList=(row:any)=>{
   ElMessageBox.confirm(
    '确定进行[删除]操作？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      const res:any=await del_classList(row.categoryId)
      if(res.status===200){
        ElMessage({
          type: 'success',
          message: '删除成功',
        })
        product.get_classList()
      }
      else{
         ElMessage({
          type: 'info',
          message: '删除失败',
        })
      }
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
}
</script>

<style lang='scss' scoped>
.class{
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        .class_table{
            margin-top: 10px;
        }
    }
    img{
      width: 100%;
      height: 80px;
      object-fit: cover;
    }
.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}
</style>