/<template>
  <!-- 管理员列表 -->
  <div class="admin">
      <avue-crud @selection-change="system.selectionChange" v-model:page="page" :data="system.adminList" :option="system.adminoption" v-model:search="system.adminSearch" @size-change="system.adminSizeChange" @current-change="system.adminCurrentChange">
            <template #username-search="{}">
                    <el-input style="width:100%" placeholder="用户名" v-model="system.adminSearch.username" />
            </template>
            <template #search-menu='{row}'>
                    <el-button style="marginTop:2px" type="primary" color='#02A1E9' @click="system.searchadminList(row)">
                        <svg t="1666702400921" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2543" width="13" height="13"><path d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z" fill="#ffffff" p-id="2544"></path></svg>
                        搜索
                    </el-button>
                    <el-button style="marginTop:2px" @click="system.clearadminSearch(row)"> 
                      <svg t="1666702696515" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4310" width="13" height="13"><path d="M608 768c-17.696 0-32-14.304-32-32L576 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C640 753.696 625.696 768 608 768z" p-id="4311" fill="#8a8a8a"></path><path d="M416 768c-17.696 0-32-14.304-32-32L384 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C448 753.696 433.696 768 416 768z" p-id="4312" fill="#8a8a8a"></path><path d="M928 224l-160 0L768 160c0-52.928-42.72-96-95.264-96L352 64C299.072 64 256 107.072 256 160l0 64L96 224C78.304 224 64 238.304 64 256s14.304 32 32 32l832 0c17.696 0 32-14.304 32-32S945.696 224 928 224zM320 160c0-17.632 14.368-32 32-32l320.736 0C690.272 128 704 142.048 704 160l0 64L320 224 320 160z" p-id="4313" fill="#8a8a8a"></path><path d="M736.128 960 288.064 960c-52.928 0-96-43.072-96-96L192.064 383.52c0-17.664 14.336-32 32-32s32 14.336 32 32L256.064 864c0 17.664 14.368 32 32 32l448.064 0c17.664 0 32-14.336 32-32L768.128 384.832c0-17.664 14.304-32 32-32s32 14.336 32 32L832.128 864C832.128 916.928 789.056 960 736.128 960z" p-id="4314" fill="#8a8a8a"></path></svg>
                      清空
                  </el-button>
            </template>
            <template #status='scope'>
              <div v-if="scope.row.status===0">禁用</div>
              <div v-else>正常</div>
            </template>
            <template #menu-left="{}">
                <el-button type="primary"
                            color='#02A1E9'
                            icon="el-icon-plus"
                            @click="system.addadminDisplaytrue"
                            >新增</el-button>
                
                <el-button type="danger"
                            color='#fab6b6'
                            v-if="system.addadminListAll.length"
                            @click="system.delAlladminList"
                            >批量删除</el-button>
                <el-button type="danger"
                            color='#fab6b6'
                            disabled
                            v-else
                            >批量删除</el-button>
            </template>
            <template #menu-right="{size}">
                  <el-button
                          icon="Menu"
                          circle
                          :size="size" @click="system.admincolumnDisplayTrue"></el-button>
                </template>
            <template #menu='{row}'>
            <el-button type="primary"
                        color='#02A1E9'
                        icon="el-icon-edit"
                         @click="system.adminDisplay(row)">修改</el-button>
            <el-button type="primary"
                        color='#F56C6C'
                        icon="el-icon-delete"
                         @click="deladminList(row)">删除</el-button>
        </template>
        </avue-crud>
        <!-- 新增 -->
        <el-dialog v-model="system.addadminDisplay" title="新增">
          <el-form ref="ruleFormRef" :rules="dataRule" :model="system.adminForm" label-position='right' label-width="80px">
            <el-form-item label="用户名" prop="userName">
              <el-input v-model="system.adminForm.username" placeholder="登录帐号"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password" :class="{ 'is-required': !system.adminForm.id }">
              <el-input v-model="system.adminForm.password" type="password" placeholder="密码"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="comfirmPassword" :class="{ 'is-required': !system.adminForm.id }">
              <el-input v-model="system.adminForm.comfirmPassword" type="password" placeholder="确认密码"></el-input>
            </el-form-item>
            <el-form-item label="邮箱" prop="email">
              <el-input v-model="system.adminForm.email" placeholder="邮箱"></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="mobile">
              <el-input v-model="system.adminForm.mobile" placeholder="手机号"></el-input>
            </el-form-item>
            <el-form-item label="角色">
              <el-checkbox v-model="system.adminForm.roleIdList" :label="item.roleName" size="small" v-for="(item,index) in system.adminRoleList" :key="index" @click="system.Idpush(item)" />
            </el-form-item>
            <el-form-item label="状态">
                  <el-radio-group v-model="system.adminForm.status" class="ml-4">
                    <el-radio :label="1" size="small">正常</el-radio>
                    <el-radio :label="0" size="small">禁用</el-radio>
                  </el-radio-group>
              </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="system.addadminDisplay = false">取消</el-button>
              <el-button type="primary" @click="submitForm(ruleFormRef)">
                确定
              </el-button>
              <!-- <el-button type="primary" @click="system.addadminList(ruleFormRef)">
                确定
              </el-button> -->
            </span>
          </template>
        </el-dialog>
        <!-- 编辑 -->
        <el-dialog v-model="system.editadminDisplay" title="修改">
          <el-form :model="system.editadminForm" label-position='right' label-width="80px">
            <el-form-item label="用户名">
              <el-input v-model="system.editadminForm.username" placeholder="登录帐号"></el-input>
            </el-form-item>
            <el-form-item label="密码">
              <el-input v-model="system.editadminForm.password" type="password" placeholder="密码"></el-input>
            </el-form-item>
            <el-form-item label="确认密码">
              <el-input v-model="system.editadminForm.comfirmPassword" type="password" placeholder="确认密码"></el-input>
            </el-form-item>
            <el-form-item label="邮箱">
              <el-input v-model="system.editadminForm.email" placeholder="邮箱"></el-input>
            </el-form-item>
            <el-form-item label="手机号">
              <el-input v-model="system.editadminForm.mobile" placeholder="手机号"></el-input>
            </el-form-item>
            <el-form-item label="角色">
              <el-checkbox v-model="system.editadminForm.roleIdList" :label="item.roleName" size="small" v-for="(item,index) in system.adminRoleList" :key="index" @click="system.Idpush(item)" />
            </el-form-item>
            <el-form-item label="状态">
                  <el-radio-group v-model="system.editadminForm.status" class="ml-4">
                    <el-radio :label="1" size="small">正常</el-radio>
                    <el-radio :label="0" size="small">禁用</el-radio>
                  </el-radio-group>
              </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="system.editadminDisplay = false">取消</el-button>
              <el-button type="primary" @click="system.editadminList">
                确定
              </el-button>
              <!-- <el-button type="primary" @click="system.addadminList(ruleFormRef)">
                确定
              </el-button> -->
            </span>
          </template>
        </el-dialog>
        <el-dialog v-model="system.admincolumnDisplay" title="多选">
           <el-transfer v-model="system.admincolumnValue" :data="system.adminoption.column"
           :titles="['隐藏', '显隐']"
            @change="system.adminhandleChange"
           >
            <template #default="{ option }">
              <span>{{option.label}}</span>
            </template>
           </el-transfer>
        </el-dialog>
  </div>
</template>

<script setup lang='ts'>
import { FormInstance } from 'element-plus'
import { ref } from 'vue-demi'
import userStore from '../../../../store'
  import { isEmail, isMobile } from '../../../../utils/validate'
  import { ElMessage, ElMessageBox } from 'element-plus'
  import {del_adminList} from '../../../../api/admin'
const {system}=userStore()
system.get_adminList()
const ruleFormRef=ref<FormInstance>()
const page={
        total: system.adminDetail.total,
        currentPage: system.adminCurrent,
        pageSize: system.adminSize
      }
const option={
        search: {},
        border:true,
        align:'center',
        addBtn: false,
        searchBtn:false,
        emptyBtn:false,
        selection: true,
        searchMenuSpan:3,
        editBtn:false,
        delBtn:false,
          column:[{
              label:'用户名',
              prop:'username',
              search:true
          },{
              label:'邮箱',
              prop:'email',
            },{
              label:'手机号',
              prop:'mobile',
            },{
              label:'创建时间',
              prop:'createTime'
            },{
              label:'状态',
              prop:'status',
              slot:true
            }
          ]
        }
      var validatePassword = (rule:any, value:any, callback:any) => {
        if (!system.adminForm.id && !/\S/.test(value)) {
          callback(new Error('密码不能为空'))
        } else {
          callback()
        }
      }
      var validateComfirmPassword = (rule:any, value:any, callback:any) => {
        if (!system.adminForm.id && !/\S/.test(value)) {
          callback(new Error('确认密码不能为空'))
        } else if (system.adminForm.password !== value) {
          callback(new Error('确认密码与密码输入不一致'))
        } else {
          callback()
        }
      }
      var validateEmail = (rule:any, value:any, callback:any) => {
        if (!isEmail(value)) {
          callback(new Error('邮箱格式错误'))
        } else {
          callback()
        }
      }
      var validateMobile = (rule:any, value:any, callback:any) => {
        if (!isMobile(value)) {
          callback(new Error('手机号格式错误'))
        } else {
          callback()
        }
      }
const submitForm=(ruleFormRef:any)=>{
    if(!ruleFormRef) return
       ruleFormRef.validate((valid:any) => {
    if (valid) {
      system.addadminList()
    } else {
      console.log('error submit!')
      return false
    }
  })
}
const dataRule= {
          userName: [
            { required: true, message: '用户名不能为空', trigger: 'blur' }
          ],
          password: [
            { validator: validatePassword, trigger: 'blur' }
          ],
          comfirmPassword: [
            { validator: validateComfirmPassword, trigger: 'blur' }
          ],
          email: [
            { required: true, message: '邮箱不能为空', trigger: 'blur' },
            { validator: validateEmail, trigger: 'blur' }
          ],
          mobile: [
            { required: true, message: '手机号不能为空', trigger: 'blur' },
            { validator: validateMobile, trigger: 'blur' }
          ]
        }
const deladminList=(row:any)=>{
   ElMessageBox.confirm(
    '确定进行[删除]操作？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      const res:any=await del_adminList(row.userId)
      if(res.status===200){
        ElMessage({
          type: 'success',
          message: '删除成功',
        })
        system.get_adminList()
      }
      else{
         ElMessage({
          type: 'info',
          message: '删除失败',
        })
      }
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
}
</script>

<style lang="scss" scoped>
  .admin{
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        .button{
          color: #fff !important;
        }
        .produce_table{
            margin-top: 10px;
        }
    }
    svg{
        margin-right: 5px;
    }
    .cell{
      img{
        width: 124px;
        height: 124px;
      }
    }
</style>