<template>
    <div class="mod-prod-info">
      <el-form :module="produce.proInfoFormData"
               ref="dataForm"
               label-width="100px">
        <el-form-item label="产品图片">
          <ShopImg/>
        </el-form-item>
        <el-form-item label="状态">
          <el-radio-group v-model="produce.proInfoFormData.status">
            <el-radio :label="1">上架</el-radio>
            <el-radio :label="0">下架</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="产品分类"
                      prop="categoryId">
                    <el-cascader
                      expand-trigger="hover"
                      v-model="produce.CategorySelected"
                      :options="produce.listCategory"
                      change-on-select
                      :props="props"
                    ></el-cascader>
        </el-form-item>
        <el-form-item label="产品分组">
          <el-col :span="8">
            <el-select
                      multiple
                      style="width: 250px"
                      v-model="produce.prodSelected"
                      placeholder="请选择">
              <el-option
                       v-for="item in produce.prodTagList"
                      :key="item.shopId"
                      :label="item.title"
                      :value="item.title">
              </el-option>
            </el-select>
          </el-col>
        </el-form-item>
        <el-form-item label="产品名称"
                      prop="prodName"
                      :rules="[{ required: true, message: '产品名称不能为空'}]">
          <el-col :span="8">
            <el-input placeholder="产品名称"
                      maxlength="50"></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="产品卖点"
                      prop="brief">
          <el-col :span="8">
            <el-input type="textarea"
                      :autosize="{minRows: 2, maxRows: 4}"
                      placeholder="产品卖点"></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="配送方式" @change="produce.SelectShop">
          <el-checkbox v-model="produce.TShopArr" label="Option 1" size="large">商家配送</el-checkbox>
          <el-checkbox v-model="produce.TShopArr" label="Option 2" size="large">用户自提</el-checkbox>
        </el-form-item>
        <el-form-item v-if="produce.PStrue" label="运费设置">
          <div style="width:100%">
            <el-select v-model="produce.YF" class="m-2" placeholder="请选择" @change="produce.YFchange">
              <el-option
                v-for="item in produce.YunFeiList"
                :key="item.value"
                :label="item.transName"
                :value="item.transportId"
                placeholder="请选择"
                
              />
            </el-select>
          </div>
          <div v-if="produce.YF">
              <div class="PSbox">
                <div class="PSTitle">
                  <div class="PSQy">
                    <h3>配送区域</h3>
                  </div>
                  <div class="PSTcon">
                    <h3>首件(个)</h3>
                  </div>
                  <div class="PSTcon">
                    <h3>运费(元)</h3>
                  </div>
                  <div class="PSTcon">
                    <h3>续件(个)</h3>
                  </div>
                  <div class="PSTcon">
                    <h3>续费(元)</h3>
                  </div>
                </div>
                <div class="PSCon">
                  <div class="PSCy">
                    所有地区
                  </div>
                  <div class="PSCcon">
                    {{produce.PSList.transfees[0].firstFee}}
                  </div>
                  <div class="PSCcon">
                    {{produce.PSList.transfees[0].firstPiece}}
                  </div>
                  <div class="PSCcon">
                    {{produce.PSList.transfees[0].continuousFee}}
                  </div>
                  <div class="PSCcon">
                    {{produce.PSList.transfees[0].continuousPiece}}
                  </div>
                </div>
              </div>
          </div>
        </el-form-item>
        <el-form-item label="商品规格">
            <div class="GgBtn">
              <el-button @click="produce.AltertAddGg">添加规格</el-button>
            </div>
            
        </el-form-item>
        <el-form-item v-if="produce.AddGg" label="规格名">
          <el-select v-model="produce.SelectSpec" class="m-2" placeholder="请选择" @change="produce.GetSpaceValue">
            <el-option
              v-for="item in produce.specList"
              :key="item.propId"
              :label="item.propName"
              :value="item.propId"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="规格值"  v-if="produce.AddGg">
          <el-select v-model="produce.SpecValue" class="m-2" placeholder="请选择" multiple>
            <el-option
              v-for="item in produce.SpecValueList"
              :key="item.propId"
              :label="item.propValue"
              :value="item.propValue"
            />
          </el-select>
        </el-form-item>
        <el-form-item v-if="produce.AddGg">
          <el-button type="primary" @click="produce.getSpecValue">确定</el-button>
          <el-button @click="produce.AddGg=false">取消</el-button>
        </el-form-item>
        <el-form-item>
          <el-table :data="produce.TableItem" style="width: 1000px" border>
              <el-table-column v-for="item in produce.TableItem[0].AddTableItem" :label="item.name">
                <template #default="scope">
                  {{item.name}}
                </template>
              </el-table-column>
              <el-table-column label="销售价" width="180">
                <template #default="scope">
                  <el-input-number
                      v-model="scope.row.ShopPrice"
                      class="mx-4"
                      :min="0"
                      controls-position="right"
                      :disabled="produce.iptDisabled"
                  />
                </template>
              </el-table-column>
              <el-table-column label="市场价" width="180">
                <template #default="scope">
                  <el-input-number
                      v-model="scope.row.ScPrice"
                      class="mx-4"
                      :min="0"
                      controls-position="right"
                      :disabled="produce.iptDisabled"
                  />
                </template>
              </el-table-column>
              <el-table-column label="库存" width="180">
                <template #default="scope">
                  <el-input-number
                      v-model="scope.row.HaveShop"
                      class="mx-4"
                      :min="0"
                      controls-position="right"
                      :disabled="produce.iptDisabled"
                  />
                </template>
              </el-table-column>
              <el-table-column label="商品重量(kg)" >
                <template #default="scope">
                  <el-input
                    v-model="scope.row.ShopWeight"
                    class="w-20 m-2"
                    size="large"
                    placeholder="Please Input"
                    :disabled="produce.iptDisabled"
                  />
                </template>
              </el-table-column>
              <el-table-column label="商品体积(m³)" >
                <template #default="scope">
                  <el-input
                    v-model="scope.row.ShopVolumn"
                    class="w-20 m-2"
                    size="large"
                    placeholder="Please Input"
                    :disabled="produce.iptDisabled"
                  />
                </template>
              </el-table-column>
              <el-table-column label="操作" >
                <el-link type="primary" @click="produce.TFBtn" v-if="produce.iptDisabled">启用</el-link>
                <el-link type="primary" @click="produce.TFBtn" v-else>禁用</el-link>
              </el-table-column>
          </el-table>
        </el-form-item>
        <el-form-item label="产品详情" prop="content">
          <el-input
            v-model="produce.Shoptextarea"
            :rows="2"
            type="textarea"
            placeholder="产品详情"
            class="textarea"
          />
        </el-form-item>
            
        <el-form-item label="  ">
          <el-button type="primary">确定</el-button>
        </el-form-item>
      </el-form>
    </div>
  </template>
  
  <script setup lang="ts">
    import ShopImg from '../../../../components/ShopImg.vue'
    import store from '../../../../store'
    const { produce } =store()
    const props = {
        checkStrictly: true,
        value: 'categoryId',
        label: 'categoryName'
    }
    produce.getspecList()
    produce.getprodTagList()
    produce.getlistCategory()
    produce.getTransport()
  </script>

<style scoped lang="scss">
    .mod-prod-info{
        width: 100%;
        padding: 20px;
        background-color: #fff;
    }
    .GgBtn{
      width: 100%;
    }
    .textarea{
      width: 200px;
    }
    .PSbox{
      width: 900px;
      height: 120px;
      margin-top: 50px;
      .PSTitle{
        width: 100%;
        height: 59px;
        border-bottom: solid 1px rgb(135, 135, 135);
        background-color: #f6f6f6;
        display: flex;
        .PSQy{
          width: 350px;
          color: rgb(156, 156, 156);
          display: flex;
          align-items: center;
        }
        .PSTcon{
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(155, 155, 155);
        }
      }
      .PSCon{
        height: 60px;
        background-color: #f9f9f9;
        display: flex;
        .PSCy{
          display: flex;
          width: 350px;
          color: rgb(94, 94, 94);
          display: flex;
          align-items: center;
        }
        .PSCcon{
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
        }
      }
    }

</style>
  