<template>
  <div class="group">
      <div class="group_table">
        <avue-crud :data="feight.data" :option="option" v-model:search="feight.proSearch" @selection-change="feight.feightChange" :page="page" @size-change="feight.feightSizeChange" @current-change="feight.feightCurrentChange">
            <template #transName-search="{size}">
                <el-input :size="size" placeholder="模板名称"  v-model="feight.proSearch.transName"/>
            </template>
              <template #search-menu='{row,size}'>
                        <el-button type="primary" color='#02A1E9' @click="feight.searchnoList(row)"  :size="size">
                            <svg t="1666702400921" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2543" width="13" height="13"><path d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z" fill="#ffffff" p-id="2544"></path></svg>
                            搜索
                        </el-button>           
            </template>
            <template #menu-left="{}">
              <el-button type="primary"
                          color='#02A1E9'
                          icon="el-icon-plus" @click="feight.addfeightDisplay=true">新增</el-button>
              <el-button type="danger"
                          color='#fab6b6'>批量删除</el-button>
            </template>
            <template #menu='{row,index,size}'>
            <el-button type="primary"
                        color='#02A1E9'
                        icon="el-icon-edit"
                        :size="size">修改</el-button>
            <el-button type="primary"
                        color='#F56C6C'
                        icon="el-icon-delete"
                        :size="size" @click="delone(row)">删除</el-button>
            </template>
        </avue-crud>
        <div class="group_table_pagination">
            
        </div>
        <MyAlert></MyAlert>
           <!-- 新增 -->
           <el-dialog v-model="feight.addfeightDisplay" title="新增">
          <el-form :model="feight.feightForm" label-position='right' label-width="70px">
              <el-form-item label="模板名称">
                  <el-input v-model="feight.feightForm.title" />
              </el-form-item>
              <el-form-item label="模板类型">
                <el-radio-group v-model="feight.feightForm.status" class="ml-4">
                    <el-radio :label="1" size="small">买家承担运费</el-radio>
                    <el-radio :label="0" size="small">卖家包邮</el-radio>
                  </el-radio-group>
              </el-form-item>
              <el-form-item label="收费方式">
                <el-radio-group v-model="feight.feightForm.status" class="ml-4">
                    <el-radio :label="1" size="small">按件数</el-radio>
                    <el-radio :label="0" size="small">按重量</el-radio>
                    <el-radio :label="0" size="small">按体积</el-radio>
                  </el-radio-group>
              </el-form-item>
          </el-form>

          <el-table  border style="width: 100%" >
            <el-table-column prop="date" label="可配送区域" header-align="center">
              <template #default="scope">
                <el-input placeholder="所有地区"
                          clearable></el-input>
              </template>
            </el-table-column>
            <el-table-column prop="date" label="首件(个)" header-align="center">
              <template #default="scope">
                <el-input placeholder="所有地区"
                          clearable></el-input>
              </template>
            </el-table-column>
            <el-table-column prop="date" label="运费(元)" header-align="center">
              <template #default="scope">
                <el-input placeholder="所有地区"
                          clearable></el-input>
              </template>
            </el-table-column>
            <el-table-column prop="date" label="续件(个)" header-align="center">
              <template #default="scope">
                <el-input placeholder="所有地区"
                          clearable></el-input>
              </template>
            </el-table-column>
            <el-table-column prop="date" label="续费(元)" header-align="center">
              <template #default="scope">
                <el-input placeholder="所有地区"
                          clearable></el-input>
              </template>
            </el-table-column>
          </el-table>

          <template #footer>
            <span class="dialog-footer">
              <el-button @click="feight.addfeightDisplay = false">取消</el-button>
              <el-button type="primary" @click="feight.addfeightList()">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
      </div>      
  </div>
</template>

<script setup lang='ts'>
import userStore from '../../../../store'
import MyAlert from "./MyAlert.vue"
const {feight}=userStore()
feight.getList()
const option={
        search: {},
        border:true,
        align:'center',
        addBtn: false,
        menuWidth: 350,
        searchBtn:false,
        emptyBtn:true,
        selection: true,
        editBtn:false,
        delBtn:false,
        searchMenuSpan:4,
          column:[{
              label:'模板名称',
              prop:'transName',
              search:true
          }
          ]
        }
        const delone=(row:any)=>{
            feight.dialogVisible=true
            feight.delId=row.transportId
           }
        const page={
                    total:feight.feightpage.total,
                    current:feight.feightpage.current,
                    size:feight.feightpage.size,
                  }
</script>

<style lang='scss' scoped>
    .group{
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        .group_table{
            margin-top: 10px;
            .group_table_pagination{
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
    svg{
        margin-right: 5px;
    }
</style>