<template>
    <div class="group">
        <div class="group_table">
          <avue-crud :data="toSearch.data" :option="option" v-model:search="toSearch.proSearch" @selection-change="toSearch.toSearchChange" :page="page" @size-change="toSearch.SearchSizeChange" @current-change="toSearch.searchCurrentChange">
              <template #title-search="{size}">
                    <el-input :size="size" placeholder="热搜标题"  v-model="toSearch.proSearch.title"/>
            </template>
            <template #content-search="{size}">
                   <el-input :size="size" placeholder="热搜内容"  v-model="toSearch.proSearch.content"/>
            </template>
            <template #status-search="{size}">
                        <el-select placeholder="启用状态" :size="size" v-model="toSearch.proSearch.status">
                            <el-option value="未启用"/>
                            <el-option value="启用"/>
                        </el-select>
            </template>
            <template #search-menu='{row,size}'>
                        <el-button type="primary" color='#02A1E9' @click="toSearch.searchnoList(row)"  :size="size">
                            <svg t="1666702400921" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2543" width="13" height="13"><path d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z" fill="#ffffff" p-id="2544"></path></svg>
                            搜索
                        </el-button>
            </template>
              <template #menu-left="{}">
                <el-button type="primary"
                            color='#02A1E9'
                            icon="el-icon-plus" @click="toSearch.toSearchDisplay=true">新增</el-button>
                <el-button type="danger"
                            color='#fab6b6' @click="toSearch.delets">批量删除</el-button>
            </template>
            <template #status="scope">
                <e-tag v-if="scope.row.status===1">启用</e-tag>
                <e-tag v-else>未启用</e-tag>
            </template>
            <template #menu='{row,index,size}'>
            <el-button type="primary"
                        color='#02A1E9'
                        icon="el-icon-edit"
                        :size="size" @click="toSearch.editDisplay(row)">修改</el-button>
            <el-button type="primary"
                        color='#F56C6C'
                        icon="el-icon-delete"
                        :size="size" @click="delone(row)">删除</el-button>
            </template>
          </avue-crud>
          <div class="group_table_pagination">
              
          </div>
          <MyAlert>
            
          </MyAlert>
           <!-- 修改 -->
        <el-dialog v-model="toSearch.edittoSearchDisplay" title="修改">
          <el-form :model="toSearch.edittoSearchForm" label-position='right' label-width="70px">
              <el-form-item label="标题">
                  <el-input v-model="toSearch.edittoSearchForm.title" />
              </el-form-item>
              <el-form-item label="内容">
                  <el-input v-model="toSearch.edittoSearchForm.content" />
              </el-form-item>
              <el-form-item label="排序号">
                       <el-input-number
                        v-model="toSearch.edittoSearchForm.seq"
                        class="mx-4"
                        :min="1"
                        :max="10"
                        controls-position="right"
                        @change="handleChange"
                      />
                    </el-form-item>
              <el-form-item label`` `1L`="状态">
                <el-radio-group v-model="toSearch.edittoSearchForm.status" class="ml-4">
                    <el-radio :label="1" size="small">下线</el-radio>
                    <el-radio :label="0" size="small">正常</el-radio>
                  </el-radio-group>
              </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="toSearch.edittoSearchDisplay = false">取消</el-button>
              <el-button type="primary" @click="toSearch.edittoSearchList()">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
           <!-- 新增 -->
        <el-dialog v-model="toSearch.toSearchDisplay" title="新增">
          <el-form :model="toSearch.toSearchForm" label-position='right' label-width="70px">
              <el-form-item label="标题">
                  <el-input v-model="toSearch.toSearchForm.title" />
              </el-form-item>
              <el-form-item label="内容">
                  <el-input v-model="toSearch.toSearchForm.content" />
              </el-form-item>
              <el-form-item label="排序号">
                       <el-input-number
                        v-model="toSearch.toSearchForm.seq"
                        class="mx-4"
                        :min="1"
                        :max="10"
                        controls-position="right"
                        @change="handleChange"
                      />
                    </el-form-item>
              <el-form-item label="状态">
                <el-radio-group v-model="toSearch.toSearchForm.status" class="ml-4">
                    <el-radio :label="1" size="small">下线</el-radio>
                    <el-radio :label="0" size="small">正常</el-radio>
                  </el-radio-group>
              </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="toSearch.toSearchDisplay = false">取消</el-button>
              <el-button type="primary" @click="toSearch.addtoSearchList()">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
        </div>
    </div>
  </template>
  
  <script setup lang='ts'>
  import userStore from '../../../../store'
  import MyAlert from "./MyAlert.vue"
  const { toSearch}=userStore()
 toSearch.getList()
  const option={
          search: {},
          border:true,
          align:'center',
          addBtn: false,
          menuWidth: 350,
          searchBtn:false,
          emptyBtn:true,
          selection: true,
          editBtn:false,
          delBtn:false,
        searchMenuSpan:4,
            column:[{
                label:'热搜标题',
                prop:'title',
                search:true
            },{
                label:'热搜内容',
                prop:'content',
                search:true
              },{
                label:'录入时间',
                prop:'recDate',
              },{
                label:'顺序',
                prop:'seq'
              },{
                label:'启用状态',
                prop:'status',
                slot:true,
                search:true
              },
            ]
          }
          const delone=(row:any)=>{
            toSearch.dialogVisible=true
            toSearch.delId=row.hotSearchId
          }
          const page={
            total:toSearch.toSearchpage.total,
            current:toSearch.toSearchpage.current,
            size:toSearch.toSearchpage.size,
          }
  </script>
  
  <style lang='scss' scoped>
      .group{
          width: 100%;
          height: 100%;
          padding: 24px;
          box-sizing: border-box;
          .group_table{
              margin-top: 10px;
              .group_table_pagination{
                  width: 100%;
                  height: 50px;
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
              }
          }
      }
      svg{
          margin-right: 5px;
      }
  </style>