/<template>
<!-- 规格管理 -->
  <div class="sku">
      <avue-crud v-model:page="page" ref="crud" :data="product.skuList" @size-change="product.skuSizeChange" @current-change="product.skuCurrentChange" :option="product.skuoption" v-model:search="product.skuSearch">
        <template #propName-search="{size}">
                <el-input style="width:100%" :size='size' placeholder="属性名称" v-model="product.skuSearch.propName" />
        </template>
        <template #search-menu='{row,size}'>
                <el-button style="marginTop:2px" :size="size" type="primary" color='#02A1E9' @click="product.searchSkuList(row)">
                    <svg t="1666702400921" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2543" width="13" height="13"><path d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z" fill="#ffffff" p-id="2544"></path></svg>
                    搜索
                </el-button>
                <el-button style="marginTop:2px" @click="product.clearPropName(row)"> 
                   <svg t="1666702696515" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4310" width="13" height="13"><path d="M608 768c-17.696 0-32-14.304-32-32L576 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C640 753.696 625.696 768 608 768z" p-id="4311" fill="#8a8a8a"></path><path d="M416 768c-17.696 0-32-14.304-32-32L384 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C448 753.696 433.696 768 416 768z" p-id="4312" fill="#8a8a8a"></path><path d="M928 224l-160 0L768 160c0-52.928-42.72-96-95.264-96L352 64C299.072 64 256 107.072 256 160l0 64L96 224C78.304 224 64 238.304 64 256s14.304 32 32 32l832 0c17.696 0 32-14.304 32-32S945.696 224 928 224zM320 160c0-17.632 14.368-32 32-32l320.736 0C690.272 128 704 142.048 704 160l0 64L320 224 320 160z" p-id="4313" fill="#8a8a8a"></path><path d="M736.128 960 288.064 960c-52.928 0-96-43.072-96-96L192.064 383.52c0-17.664 14.336-32 32-32s32 14.336 32 32L256.064 864c0 17.664 14.368 32 32 32l448.064 0c17.664 0 32-14.336 32-32L768.128 384.832c0-17.664 14.304-32 32-32s32 14.336 32 32L832.128 864C832.128 916.928 789.056 960 736.128 960z" p-id="4314" fill="#8a8a8a"></path></svg>
                   清空
               </el-button>
        </template>
            <template #menu-left="{}">
                <el-button type="primary"
                            color='#02A1E9'
                            icon="el-icon-plus"
                            @click="product.addDisplay"
                            >新增</el-button>
            </template>
            <template #menu-right="{size}">
                  <el-button
                          icon="Menu"
                          circle
                          :size="size" @click="product.skucolumnDisplayTrue"></el-button>
                </template>
            <template #prodPropValues='scope'>
                <el-tag v-for="(item,index) in scope.row.prodPropValues" :key="index">
                    {{item.propValue}}
                </el-tag>
            </template>
            <template #menu='{row}'>
            <el-button type="primary"
                        color='#02A1E9'
                        icon="el-icon-edit"
                         @click="product.editDisplay(row)">修改</el-button>
            <el-button type="primary"
                        color='#F56C6C'
                        icon="el-icon-delete"
                         @click="delskuList(row)">删除</el-button>
        </template>
         
        </avue-crud>
        <el-dialog v-model="product.skuDisplay" title="修改">
          <el-table :data='product.skuDisplayList' border style="width: 100%" >
            <el-table-column prop="date" label="属性名称" header-align="center">
              <template #default="scope">
                <el-input placeholder="请输入内容"
                          v-model="scope.row.propName"
                          clearable></el-input>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="属性值" header-align="center">
              <template #default="scope">
              <el-row>
                <el-col :span="12" v-for="(item,index) in scope.row.prodPropValues" :key="index">
                  <el-input placeholder="请输入内容"
                            v-model="item.propValue"
                            clearable></el-input>
                </el-col>
                <el-col :span="4">
                  <el-button type="primary"
                            icon="el-icon-circle-plus"
                            @click="product.editInput(product.skuDisplayList)"></el-button>
                </el-col>
              </el-row>
              </template>
            </el-table-column>
          </el-table>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="product.skuDisplay = false">取消</el-button>
              <el-button type="primary" @click="product.editskuList(product.skuDisplayList)">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
        <!-- 新增 -->
        <el-dialog v-model="product.addskuDisplay" title="新增">
          <el-table :data='product.addskuDisplayList' border style="width: 100%" >
            <el-table-column prop="date" label="属性名称" header-align="center">
              <template #default="scope">
                <el-input placeholder="请输入内容"
                          v-model="scope.row.propName"
                          clearable></el-input>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="属性值" header-align="center">
              <template #default="scope">
              <el-row>
                <el-col :span="12" v-for="(item,index) in scope.row.prodPropValues" :key="index">
                  <el-input placeholder="请输入内容"
                            v-model="item.propValue"
                            clearable></el-input>
                </el-col>
                <el-col :span="4">
                  <el-button type="primary"
                            icon="el-icon-circle-plus"
                            @click="product.addInput(product.addskuDisplayList)"></el-button>
                </el-col>
              </el-row>
              </template>
            </el-table-column>
          </el-table>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="product.addskuDisplay = false">取消</el-button>
              <el-button type="primary" @click="product.addskuList(product.addskuDisplayList)">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
        <el-dialog v-model="product.skucolumnDisplay" title="多选">
           <el-transfer v-model="product.skucolumnValue" :data="product.skuoption.column"
           :titles="['隐藏', '显隐']"
            @change="product.skuhandleChange"
           >
            <template #default="{ option }">
              <span>{{option.label}}</span>
            </template>
           </el-transfer>
        </el-dialog>
  </div>
</template>

<script setup lang='ts'>
import userStore from '../../../../store'
import { ElMessage, ElMessageBox } from 'element-plus'
import {del_skuList} from '../../../../api/sku'
const {product}=userStore()
product.get_List()

const page={
        total: product.skuDetail.total,
        currentPage: product.skuCurrent,
        pageSize: product.skuSize
      }
const delskuList=(row:any)=>{
   ElMessageBox.confirm(
    '确定进行[删除]操作？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      const res:any=await del_skuList(row.propId)
      if(res.status===200){
        ElMessage({
          type: 'success',
          message: '删除成功',
        })
        product.get_List()
      }
      else{
         ElMessage({
          type: 'info',
          message: '删除失败',
        })
      }
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
}
const option={
        border:true,
        align:'center',
        addBtn: false,
        menuWidth: 350,
        searchBtn:false,
        emptyBtn:false,
        indexLabel:'序号',
        index:true,
        indexWidth:60,
        editBtn:false,
        delBtn:false,
        searchMenuSpan:3,
        columnBtn:false,
        editTitle:'修改',
          column:[{
              label:'属性名称',
              prop:'propName',
              search:true,
            },{
              label:'属性值',
              prop:'prodPropValues',
            },
          ]
        }
</script>

<style lang='scss' scoped>
    .sku{
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        .sku_table{
            margin-top: 10px;
        }
    }
    svg{
        margin-right: 5px;
    }
</style>