<template>
    <div>
      <el-dialog
          v-model="system.timAdddialogVisible"
          title="新增"
          width="30%"
      >
          <el-form ref="ruleFormRef" :rules="rules">
              <el-form-item label="bean名称" prop="beanName">
                  <el-input v-model="system.timAddForm.beanName" placeholder="bean名称" autocomplete="off" />
              </el-form-item>
              <el-form-item label="方法名称" prop="methodName">
                  <el-input v-model="system.timAddForm.methodName" placeholder="方法名称" autocomplete="off" />
              </el-form-item>
              <el-form-item label="参数" prop="remark">
                  <el-input v-model="system.timAddForm.params" placeholder="参数" autocomplete="off" />
              </el-form-item>
              <el-form-item label="cron表达式" prop="cronExpression">
                  <el-input v-model="system.timAddForm.cronExpression" placeholder="cron表达式" autocomplete="off" />
              </el-form-item>
              <el-form-item label="备注" prop="remark">
                  <el-input v-model="system.timAddForm.remark" placeholder="备注" autocomplete="off" />
              </el-form-item>
          </el-form>
          <template #footer>
              <span class="dialog-footer">
                  <el-button @click="system.timAdddialogVisible = false">取消</el-button>
                  <el-button type="primary" @click="system.timAdd">
                  确定
                  </el-button>
              </span>
          </template>
      </el-dialog>
      
    </div>
  </template>
  
  <script setup lang="ts">
      import { reactive, ref } from 'vue'
      import store  from '../../../../store'
      import { ElMessageBox } from 'element-plus'
      import type { FormInstance, FormRules } from 'element-plus'
      const { system } =store()
      const ruleFormRef = ref<FormInstance>()
      const rules = reactive<FormRules>({
        beanName:[{required:true,message:'请输入bean名称',trigger:'blur'},],
        methodName:[{required:true,message:'请输入方法名称',trigger:'blur'}],
        cronExpression:[{required:true,message:'请输入cron表达式',trigger:'blur'}]
      })
  </script>
  
  <style scoped>
      .dialog-footer button:first-child {
          margin-right: 10px;
      }
  </style>