/<template>
  <div class="timing">
    <avue-crud 
    :data="system.timdata" 
    ref="crud" 
    :option="option" 
    v-model:page="page"
    v-model:search="system.timsearch"
    @selection-change="selectionChange"
    >
            <template #beanName-search="{}">
                  <el-input size="large"  placeholder="bean名称" v-model="system.timsearch.beanName"/>
            </template>
            <template #search-menu='{}'>
                    <el-button size="large" @click="system.timSearch">
                      查询
                    </el-button>
                    <el-button type="primary" size="large" @click="system.timAdddialogVisible=true">
                        新增
                    </el-button>
                  <el-button type="danger" size="large" v-if="system.timselectAll.length" @click="system.delAllList">
                    批量删除
                  </el-button>
                  <el-button type="danger" size="large" v-else disabled>
                    批量删除
                  </el-button>

                  <el-button type="danger" size="large" v-if="system.timselectAll.length" @click="system.stopTimItem">
                    批量暂停
                  </el-button>
                  <el-button type="danger" size="large" v-else disabled>
                    批量暂停
                  </el-button>

                  <el-button type="danger" size="large" v-if="system.timselectAll.length" @click="system.HfItem">
                    批量恢复
                  </el-button>
                  <el-button type="danger" size="large" v-else disabled>
                    批量恢复
                  </el-button>

                  <el-button type="danger" size="large" v-if="system.timselectAll.length">
                    批量立即执行
                  </el-button>
                  <el-button type="danger" size="large" v-else disabled>
                    批量立即执行
                  </el-button>

                  <el-button type="success" size="large" @click='system.RzdialogVisible=true'>
                    日志列表
                  </el-button>
            </template>
            <template #menu='{row}'>
              <el-link type="primary" @click="AlertEdit(row.jobId)">修改</el-link>
              <el-link type="primary" @click="system.delOne(row.jobId)">删除</el-link>
              <el-link type="primary" @click="system.stopOne(row.jobId)">暂停</el-link>
              <el-link type="primary" @click="system.HfOne(row.jobId)">恢复</el-link>
              <el-link type="primary">立即执行</el-link>
            </template>
            <template #status="scope">
              <el-tag v-if="scope.row.status === 0" size="small">正常</el-tag>
              <el-tag v-else size="small" type="danger">暂停</el-tag>
            </template>
        </avue-crud>
        <AddAlert/>
        <EditAlert/>
        <RzAlert/>
  </div>
</template>

<script lang="ts" setup>
  import {reactive , ref} from 'vue'
  import { _get_timList } from '../../../../api/system'
  import Store from '../../../../store'
  import AddAlert from './AddTim.vue'
  import EditAlert from './EditTim.vue'
  import RzAlert from './RzAlert.vue'
  const { system }= Store()

  system.get_timlist()
  const option = ref({})
  const form = ref({})
  const page=reactive({
        total: system.timtotal,
        currentPage: system.timpage,
        pageSize: system.timlimit
      })
  option.value={
          search: {},
          border:true,
          align:'center',
          addBtn: false,
          searchBtn:false,
          emptyBtn:false,
          selection: true,
          editBtn:false,
          delBtn:false,
          searchMenuSpan:15,
            column:[
              {
                label:'ID',
                prop:'jobId',
              },
              {
                label:'bean名称',
                prop:'beanName',
                search:true
              },
              {
                label:'方法名称',
                prop:'methodName',
              },
              {
                label:'参数',
                prop:'params',
              },
              {
                label:'cron表达式',
                prop:'cronExpression',
              },
              {
                label:'备注',
                prop:'remark',
              },
              {
                label:'状态',
                prop:'status',
                slot:true
              }
            ]
          }
const selectionChange=(list:any)=>{
  console.log(list)
    system.timselectAll=list
}
const AlertEdit=(id:any)=>{
  system.getEditList(id);
  system.timEditdialogVisible=true
}

</script>

<style lang="scss" scoped>
  .timing{
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        .button{
          color: #fff !important;
        }
        form{
            width: 100%;
            display: flex;
            font-size: 12px !important;
            .el-form-item{
                margin-right: 10px;
            }
        }
        .produce_table{
            margin-top: 10px;
        }
    }
    svg{
        margin-right: 5px;
    }
    .cell{
      img{
        width: 124px;
        height: 124px;
      }
    }
    .el-link{
      margin-right: 10px;
    }
</style>