<template>
    <el-dialog
    v-model="system.RzdialogVisible"
    title="日志列表"
    width="70%"
    >
        <div>
            <el-input v-model="system.RzInput" placeholder="任务 ID" style="width:200px" size="large"/>
            <el-button style="margin-left: 20px;" size="large">查询</el-button>
        </div>
        <el-table border style="width: 100%" :data="system.RztableData">
            <el-table-column prop="date" label="日志ID" width="135" />
            <el-table-column prop="date" label="任务ID" width="100" />
            <el-table-column prop="date" label="bean名称" width="100" />
            <el-table-column prop="date" label="方法名称" width="100" />
            <el-table-column prop="date" label="参数" width="200" />
            <el-table-column prop="date" label="状态" width="100" />
            <el-table-column prop="date" label="耗时(单位:毫秒)" width="200" />
            <el-table-column prop="date" label="执行时间" width="100" />
        </el-table>
    </el-dialog>
</template>

<script lang="ts" setup>
    import store from '../../../../store'
    const { system }=store()

</script>

<style>

</style>