<template>
  <div class="role">
      <avue-crud @selection-change="role.selectionChange" :data="role.roleList" v-model:search="role.roleSearch" @size-change="role.roleSizeChange" @current-change="role.roleCurrentChange" v-model:page="page" :option="role.roleoption" >
            <template #roleName-search="{size}">
                    <el-input :size="size" style="width:100%" placeholder="用户名" v-model="role.roleSearch.roleName" />
            </template>
            <template #search-menu='{row}'>
                    <el-button style="marginTop:2px" type="primary" color='#02A1E9' @click="role.searchroleList(row)">
                        <svg t="1666702400921" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2543" width="13" height="13"><path d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z" fill="#ffffff" p-id="2544"></path></svg>
                        搜索
                    </el-button>
                    <el-button style="marginTop:2px" @click="role.clearroleSearch(row)"> 
                      <svg t="1666702696515" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4310" width="13" height="13"><path d="M608 768c-17.696 0-32-14.304-32-32L576 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C640 753.696 625.696 768 608 768z" p-id="4311" fill="#8a8a8a"></path><path d="M416 768c-17.696 0-32-14.304-32-32L384 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C448 753.696 433.696 768 416 768z" p-id="4312" fill="#8a8a8a"></path><path d="M928 224l-160 0L768 160c0-52.928-42.72-96-95.264-96L352 64C299.072 64 256 107.072 256 160l0 64L96 224C78.304 224 64 238.304 64 256s14.304 32 32 32l832 0c17.696 0 32-14.304 32-32S945.696 224 928 224zM320 160c0-17.632 14.368-32 32-32l320.736 0C690.272 128 704 142.048 704 160l0 64L320 224 320 160z" p-id="4313" fill="#8a8a8a"></path><path d="M736.128 960 288.064 960c-52.928 0-96-43.072-96-96L192.064 383.52c0-17.664 14.336-32 32-32s32 14.336 32 32L256.064 864c0 17.664 14.368 32 32 32l448.064 0c17.664 0 32-14.336 32-32L768.128 384.832c0-17.664 14.304-32 32-32s32 14.336 32 32L832.128 864C832.128 916.928 789.056 960 736.128 960z" p-id="4314" fill="#8a8a8a"></path></svg>
                      清空
                  </el-button>
            </template>
             <template #menu-right="{size}">
                  <el-button
                          icon="Menu"
                          circle
                          :size="size" @click="role.columnDisplayTrue"></el-button>
              </template>
            <template #menu-left="{}">
                <el-button type="primary"
                            color='#02A1E9'
                            icon="el-icon-plus"
                            @click="role.addroleDisplayTrue"
                            >新增</el-button>
                <el-button type="danger"
                            color='#fab6b6'
                            v-if="role.addroleListAll.length"
                            @click="role.delAllroleList"
                            >批量删除</el-button>
                <el-button type="danger"
                            color='#fab6b6'
                            disabled
                            v-else
                            >批量删除</el-button>
            </template>
            <template #menu='{row}'>
            <el-button type="primary"
                        color='#02A1E9'
                        icon="el-icon-edit"
                         @click="role.editroleDisplayTrue(row)">修改</el-button>
            <el-button type="primary"
                        color='#F56C6C'
                        icon="el-icon-delete"
                         @click="delroleList(row)">删除</el-button>
        </template>
        </avue-crud>
        <!-- 新增 -->
        <el-dialog v-model="role.addroleDisplay" title="新增">
          <el-form :model="role.roleForm" label-position='right' label-width="80px">
            <el-form-item label="角色名称">
              <el-input v-model="role.roleForm.roleName" placeholder="角色名称" />
            </el-form-item>
            <el-form-item label="备注">
              <el-input v-model="role.roleForm.remark" placeholder="备注" />
            </el-form-item>
            <el-form-item label="授权">
               <el-tree
                  :data="role.navList"
                  v-model="role.roleForm.menuIdList"
                  show-checkbox
                  node-key="menuId"
                  :props="navListTreeProps"
                   @check-change="role.handleCheckChange"
                />
            </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="role.addroleDisplay = false">取消</el-button>
              <el-button type="primary" @click="role.addroleList">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
        <!-- 修改 -->
        <el-dialog v-model="role.editroleDisplay" title="修改">
          <el-form :model="role.editroleForm" label-position='right' label-width="80px">
            <el-form-item label="角色名称">
              <el-input v-model="role.editroleForm.roleName" placeholder="角色名称" />
            </el-form-item>
            <el-form-item label="备注">
              <el-input v-model="role.editroleForm.remark" placeholder="备注" />
            </el-form-item>
            <el-form-item label="授权">
               <el-tree
                  :data="role.navList"
                  v-model="role.editroleForm.menuIdList"
                  show-checkbox
                  :default-checked-keys='role.editroleForm.menuIdList'
                  node-key="menuId"
                  :props="navListTreeProps"
                   @check-change="role.edithandleCheckChange"
                   ref='noderef'
                />
            </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="role.editroleDisplay = false">取消</el-button>
              <el-button type="primary" @click="editroleList">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
        <el-dialog v-model="role.columnDisplay" title="多选">
           <el-transfer v-model="role.columnValue" :data="role.roleoption.column"
           :titles="['隐藏', '显隐']"
            @change="role.handleChange"
           >
            <template #default="{ option }">
              <span>{{option.label}}</span>
            </template>
           </el-transfer>
        </el-dialog>
  </div>
</template>

<script setup lang='ts'>
import { reactive, ref } from 'vue-demi'
import userStore from '../../../../store'
import { ElMessage, ElMessageBox } from 'element-plus'
import { del_roleList } from '../../../../api/role'
import { ElTree } from 'element-plus'
const {role}=userStore()
role.get_roleList()
interface Tree {
  id: number
  label: string
  children?: Tree[]
}
const navListTreeProps= reactive({
          label: 'name',
          children: 'children'
})
const noderef = ref<InstanceType<typeof ElTree>>()
const page={
        total: role.roleDetail.total,
        currentPage: role.roleCurrent,
        pageSize: role.roleSize
      }
      const editroleList=()=>{
        // console.log(noderef.value!.getCheckedNodes(false, false),'bhbhjb');
        const List=noderef.value!.getCheckedNodes(false, false)
        // console.log(role.editroleForm.menuIdList);
        role.ListId=[]
        List.forEach(item=>{
          role.ListId.push(item.menuId)
        })
        role.editroleList()
      }
const option={
        search: {},
        border:true,
        align:'center',
        addBtn: false,
        searchBtn:false,
        emptyBtn:false,
        selection: true,
        editBtn:false,
        delBtn:false,
        columnDisplay:false,
        searchMenuSpan:3,
        // columnBtn:false,
          column:[{
              label:'角色名称',
              prop:'roleName',
              search:true,
              key: 1,
              hide: false
          },{
              label:'备注',
              prop:'remark',
              key: 2,
              hide: false
            },{
              label:'创建时间',
              prop:'createTime',
              key: 3,
              hide: false
            }
          ]
        }
const delroleList=(row:any)=>{
   ElMessageBox.confirm(
    '确定进行[删除]操作？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      const res:any=await del_roleList(row.roleId)
      if(res.status===200){
        ElMessage({
          type: 'success',
          message: '删除成功',
        })
        role.get_roleList()
      }
      else{
         ElMessage({
          type: 'info',
          message: '删除失败',
        })
      }
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
}
</script>

<style lang="scss" scoped>
  .role{
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        .button{
          color: #fff !important;
        }
        .produce_table{
            margin-top: 10px;
        }
    }
    svg{
        margin-right: 5px;
    }
    .cell{
      img{
        width: 124px;
        height: 124px;
      }
    }
</style>