<template>
  <div class="order">
    <div class="order_inner">
      <!-- 头部搜索 -->
      <div class="order_header">
        <div class="ipt">
        <el-input v-model="orderstore.input" placeholder="订单编号" clearable /></div>
        <div class="el_data">
          <el-date-picker
            v-model="orderstore.dataValue"
            type="datetimerange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="YYYY-MM-DD HH:mm:ss"
          ></el-date-picker>
        </div>
        <el-select v-model="orderstore.region" placeholder="请选择订单状态">
          <el-option label="待付款" value=1 />
          <el-option label="待发货" value=2 />
          <el-option label="待收货" value=3 />
          <el-option label="待评价" value=4 />
          <el-option label="成功" value=5 />
          <el-option label="失败" value=6 />
        </el-select>
        <div class="qushi">
          <el-button type="primary" :icon="Search" @click="orderstore.orderSearch">查询</el-button>
          <el-button type="primary">导出发货名单</el-button>
          <el-button type="primary" @click="downloadXle">导出销售记录</el-button>
          <el-button>清空</el-button>
        </div>
      </div>
      <div class="order_main">
        <!-- 商品卡片 -->
        <div class="order_card">
          <div class="card_header">
            <span><b>商品</b> <b>成交单价/购买数量</b> </span>
            <span>实付金额</span>
            <span>支付方式</span>
            <span>订单状态</span>
            <span>操作</span>
          </div>
          <div
            class="card_main"
            v-for="(item, index) in orderList.orderr"
            :key="index"
          >
            <div class="card_top">
              <span>订单编号: {{ item.orderNumber }}</span>
              <span>下单时间:{{ item.createTime }}</span>
            </div>
            <div class="card_center">
              <div class="center_left">
                <div
                  class="left_card"
                  v-for="(it, ind) in item.orderItems"
                  :key="ind"
                >
                  <div class="_left">
                    <div class="img">
                      <img :src="rabe + it.pic" />
                    </div>
                    <div class="img_item">
                      <p>{{ it.prodName }} {{ it.skuName }}</p>
                      <p>{{ it.skuName }}</p>
                    </div>
                  </div>
                  <div class="right">
                    <p>￥{{ it.price }}</p>
                    <p>X{{ it.prodCount }}</p>
                  </div>
                </div>
              </div>
              <div>
                <p>￥{{ item.actualTotal }}</p>
                <p>共{{ item.orderItems.length }}件</p>
              </div>
              <div>
                <span v-if="item.payType === 1">微信支付</span>
                <span v-else-if="item.payType === 2">支付宝</span>
                <span v-else>手动代付</span>
              </div>
              <div>
                <span v-if="item.status === 1" size="small" type="danger"
                  >待付款</span
                >
                <span v-else-if="item.status === 2" size="small" type="danger"
                  >待发货</span
                >
                <span v-else-if="item.status === 3" size="small" type="danger"
                  >待收货</span
                >
                <span v-else-if="item.status === 4" size="small" type="danger"
                  >待评价</span
                >
                <span v-else-if="item.status === 5" size="small" type="danger"
                  >成功</span
                >
                <span v-else size="small">失败</span>
              </div>
              <div>
                <a href="#" @click="modify(item), (dialogVisible = true)"
                  >修改</a
                >
              </div>
            </div>
            <div class="card_bottom">
              <span>备注 :</span>
              <span></span>
            </div>
          </div>
        </div>
        <!-- 分页器 -->
        <div class="pagintion">
          <span></span>
          <span>
            <el-pagination
              :page-sizes="[10, 20, 30, 40]"
              :small="small"
              :disabled="disabled"
              :background="background"
              layout="total, sizes, prev, pager, next, jumper"
              :total="orderList.total"
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
          /></span>
        </div>
      </div>
    </div>
    <!-- 修改弹框 -->
    <el-dialog v-model="dialogVisible" title="修改" width="50%">
      <div class="delog_header">
        订单编号: {{ modifylist.modify.orderNumber }}
      </div>

      <div class="step">
        <!-- {{ modifylist.modify.payType === 1 ?   }} -->
        <el-steps
          align-center="true"
          v-if="modifylist.modify.payType === 1 ? false : true"
        >
          <el-step title="提交订单" />
          <el-step title="买家已付款" />
          <el-step title="卖家已发货" />
          <el-step title="买家已收货" />
        </el-steps>
        <el-steps
          :active="4"
          align-center
          v-if="modifylist.modify.payType === 1 ? true : false"
        >
          <el-step title="提交订单" />
          <el-step
            title="买家已付款"
            :description="modifylist.modify.payTime"
          />
          <el-step
            title="卖家已发货"
            :description="modifylist.modify.dvyTime"
          />
          <el-step
            title="买家已收货"
            :description="modifylist.modify.finallyTime"
          />
        </el-steps>
      </div>
      <div class="tag">
        订单状态:
        <el-tag
          v-if="modifylist.modify.status === 1"
          size="small"
          type="warning"
          >待付款</el-tag
        >
        <el-tag
          v-if="
            modifylist.modify.status === 2 && modifylist.modify.orderType !== 1
          "
          size="small"
          type="warning"
          >待发货</el-tag
        >
        <el-tag
          v-if="
            modifylist.modify.status === 3 && modifylist.modify.orderType !== 1
          "
          size="small"
          type="warning"
          >待收货</el-tag
        >
        <el-tag
          v-if="
            modifylist.modify.status === 4 && modifylist.modify.orderType !== 1
          "
          size="small"
          type="warning"
          >待评价</el-tag
        >
        <el-tag
          v-if="modifylist.modify.status === 5"
          size="small"
          type="success"
          >成功</el-tag
        >
        <el-tag v-if="modifylist.modify.status === 6" size="small" type="danger"
          >失败</el-tag
        >
      </div>
      <div class="card">
        <div class="cardLeft">
          <div class="cardLeft_header">
            <div class="img"><img src="~@/assets/img/car.png" alt="" /></div>
            买家付款后才可以收货
          </div>
          <div class="cardLeft_main">
            <p>
              <img src="~@/assets/img/address.png" alt="" /> 收货人:
              {{ modifylist.Addd.receiver }}
            </p>
            <p>手机: {{ modifylist.Addd.mobile }}</p>
            <p>
              收货地址 {{ modifylist.Addd.province }}{{ modifylist.Addd.city
              }}{{ modifylist.Addd.area }}{{ modifylist.Addd.addr }}
            </p>
            <div class="ii">
              <div class="img">
                <img src="~@/assets/img/invoice.png" alt="" />
              </div>
              不开发票
            </div>
          </div>
        </div>
        <div class="cardRight">
          <div class="cardRight_header">
            <div class="img">
              <img
                src="~@/assets/img/buyer.png"
                alt=""
                style="margin-right: 15px"
              />
            </div>
            买家:
          </div>
          <div class="cardRight_main">
            <div class="iii">
              <div class="img">
                <img src="~@/assets/img/message.png" alt="" />
              </div>
              买家备注:
            </div>
          </div>
        </div>
      </div>
      <!-- 弹框商品卡片 -->
      <div class="shop" v-for="(ite, indx) in modifylist.orderItem" :key="indx" style="width:'100%'">
        <div class="shop_top">
          <div class="shop_topcard">商品</div>
          <div>单价</div>
          <div>数量</div>
          <div>总价</div>
        </div>
        <div class="shop_center">
          <div class="shop_card">
            <div class="img">
              <img :src="rabe + ite.pic" />
            </div>
            <div class="img_item">
              {{ ite.prodName }}
            </div>
          </div>
          <div>{{ ite.price }}</div>
          <div>{{ ite.prodCount }}</div>
          <div>{{ ite.productTotalAmount }}</div>
        </div>
      </div>
      <div class="price">
        <div class="price_left"></div>
        <div class="price_right">
          <div>
            <span>商品总价:</span>
            <span>￥{{ modifylist.modify.total }}</span>
          </div>
          <div>
            <span>应付金额:</span>
            <span>￥{{ modifylist.modify.actualTotal }}</span>
          </div>
        </div>
      </div>
      <div class="_order">
        <b>订单日志</b>
      </div>
      <!-- 订单状态 -->
      <div class="_order_item">
        <p>
          {{
            modifylist.modify.updateTime
              ? modifylist.modify.updateTime + '订单更新 (成功)'
              : ''
          }}
        </p>
        <p>
          {{
            modifylist.modify.payTime
              ? modifylist.modify.payTime + '订单付款 (成功)'
              : ''
          }}
        </p>
        <p>
          {{
            modifylist.modify.dvyTime
              ? modifylist.modify.dvyTime + '订单发货 (成功)'
              : ''
          }}
        </p>
        <p>
          {{
            modifylist.modify.finallyTime
              ? modifylist.modify.finallyTime + '完成订单 (成功)'
              : ''
          }}
        </p>
      </div>
    </el-dialog>
  </div>
</template>

<script lang="ts" setup>
import  useJsonToExcel  from '../../../hooks/useJsonToExcel'
//导入的接口
import { orderlist, ordermark } from '../../../api/order';
//导入的类型
// import { orderData } from './order.d';
import { ref, reactive } from 'vue';
import { ElMessageBox } from 'element-plus';
import { Search } from '@element-plus/icons-vue';
import store from '../../../store'
const { orderstore }=store()
// import { login } from '../../../api/login';
const input = ref('');
//日期数据
const form = reactive({
  region: '',
});
//数据
const order = reactive({
  val1: 10,
  val2: 0,
});
//图片路径前缀
const rabe = ref('http://img-test.gz-yami.com/');
const orderList: any = reactive({
  orderr: {},
  total: 0,
});
//弹框数据
const modifylist: any = reactive({
  modify: {},
  Addd: {},
  orderItem: [],
});
//数据渲染
const getList = async () => {
  let res:any = await orderlist({
    current: 1,
    size: 10,
  });
  orderList.orderr = res.data.records;
  orderList.total = res.data.total;
  console.log(res.data.records);
};
getList();

//导出Xls表格
const downloadXle=()=>{
  let data:any=[]
  orderList.orderr.forEach((item:any) => {
      let dataone={
        orderNumber:item.orderNumber,
        createTime:item.createTime,
        receiver:item.userAddrOrder.receiver,
        mobile:item.userAddrOrder.mobile,
        addr:item.userAddrOrder.province+item.userAddrOrder.city+item.userAddrOrder.area,
        prodName:item.prodName,
        productNums:item.productNums,
        actualTotal:item.actualTotal,
        total:item.total
      }
      data.push(dataone)
  });
  //定义表头
  const tableHeader={
    orderNumber:'订单编号',
    createTime:'下单时间',
    receiver:'收件人',
    mobile:"手机",
    addr:'收件地址',
    prodName:'商品名称',
    productNums:'数量',
    actualTotal:'订单应付',
    total:'订单实付'
  };
  useJsonToExcel({
    data,
    header:tableHeader,
    fileName:'销售信息整理',
    bookType:'xlsx'
  });
  
}





//弹框显隐
const dialogVisible = ref(false);
//订单编号
const value1 = ref('');
//订单日期
const value2 = ref('');
const small = ref(false);
const background = ref(false);
const disabled = ref(false);
//日期
const defaultTime1 = new Date(2000, 1, 1, 12, 0, 0); // '12:00:00'
const defaultTime2: [Date, Date] = [
  new Date(2000, 1, 1, 12, 0, 0),
  new Date(2000, 2, 1, 8, 0, 0),
]; // '12:00:00', '08:00:00'
const onSubmit = () => {
  console.log('submit!');
};
//点击总页数的改变
const handleSizeChange = async (val: number) => {
  order.val1 = val;
  let res:any = await orderlist({
    current: order.val2,
    size: val,
  });
  orderList.orderr = res.data.records;
};
//点击页数的改变
const handleCurrentChange = async (val: number) => {
  order.val2 = val;
  let res:any = await orderlist({
    current: val,
    size: order.val1,
  });
  orderList.orderr = res.data.records;
};
//订单列表弹框的数据
const modify = async (item: any) => {
  console.log(item.orderNumber);
  let res:any = await ordermark({
    numbers: item.orderNumber,
    t: new Date().getTime(),
  });
  //弹框数据
  modifylist.modify = res.data;
  //弹框数据地址
  modifylist.Addd = res.data.userAddrOrder;
  //弹框数据shopCard
  modifylist.orderItem = res.data.orderItems;
};
</script>

<style>
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
body,
html {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
.order {
  width: 100%;
  height: auto;
  background: white;
  min-width: 1000px;
}
.order_inner {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px 2px #ccc;
}
.order_header {
  width: 100%;
  height: auto;
  align-items: center;
  padding-top: 20px;
}
.order_header .el-input {
  width: 202px;
  height: 40px; 
  margin-left: 20px;
}
.ipt{
  float: left;
}
.el-date-editor {
  width: 400px !important;
  height: 40px !important;
  float: left;
  margin-left: 20px;
}
.el-select {
  float: left;
}
.qushi {
  margin-left: 20px;
  float: left;
  padding-top: 5px;
}
.order_main {
  width: 100%;
  height: auto;
}
.order_card {
  width: 96%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
}
.card_header {
  width: 100%;
  display: flex;
  font-size: 14px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 30px;
}
.card_main {
  width: 100%;
  /* height: calc(100% - 30px); */
  border: 1px solid #ccc;
  margin-top: 10px;
}
.card_header span:nth-child(1) {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.card_header span:nth-child(1) b {
  font-weight: normal;
}
.card_header span:nth-child(2) {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_header span:nth-child(3) {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_header span:nth-child(4) {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_header span:nth-child(5) {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_header span:nth-child(6) {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_top {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  background: rgb(245, 244, 244);
}
.card_top span {
  margin-left: 10px;
  line-height: 40px;
}

.card_center {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  display: flex;
}
.card_center > div {
  width: 20%;
  height: auto;
  border-left: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_center > div:nth-child(5) a {
  text-decoration-line: none;
  color: rgb(0, 183, 255);
}
.card_center > div:nth-child(2) {
  flex-direction: column;
  text-align: center;
}
.card_center > div:nth-child(1) {
  border-left: none;
}
.card_center > div:nth-child(2) p:nth-child(1) {
  color: red;
}
.card_center > div:nth-child(2) p:nth-child(2) {
  margin-top: 10px;
}
.center_left {
  width: 70% !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.left_card {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #3333;
}
.left_card:last-child {
  border-bottom: none;
}
.card_left {
  width: 50%;
  height: 100%;
  padding: 10px;
}
._left {
  width: 100%;
  height: 100%;
  display: flex;
}
._left .img {
  width: 100px;
  height: 100px;
  /* border: 1px solid #ccc; */
}
._left .img img {
  width: 100%;
  height: 100%;
}
._left .img_item {
  width: 70%;
  height: 100%;
  padding-left: 10px;
}
._left .img_item p:nth-child(2) {
  margin-top: 20px;
  color: #ccc;
}
.right {
  width: 20%;
  height: 100%;
  text-align: center;
}
.right p:nth-child(2) {
  margin-top: 10px;
}
.card_bottom {
  width: 100%;
  height: 50px;
  font-size: 14px;
  background: rgb(234, 246, 248);
  display: flex;
}
.card_bottom span {
  margin-left: 10px;
  line-height: 50px;
}
.el-overlay-dialog {
  background: rgba(255, 255, 255, 0.753) !important;
}
.el-dialog {
  width: 80% !important;
  height: auto;
}
.el-dialog__body {
  width: 100%;
  height: auto;
  padding: 40px;
  color: rgb(66, 66, 66);
}
.delog_header {
  width: 100%;
  height: 50px;
  line-height: 30px;
}
.step {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  padding-top: 20px;
}
.tag {
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.card {
  width: 90%;
  height: auto;
  display: flex;
  border-top: 1px solid #ccc;
}
.cardLeft {
  width: 50%;
  height: 100%;
  border-right: 1px solid #3333;
}
.cardLeft_header {
  width: 96%;
  height: 90px;
  line-height: 70px;
  display: flex;
  border-bottom: 1px dashed #ccc;
}
.cardLeft_header .img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  margin-top: 4px;
}
.cardLeft_header .img img {
  width: 100%;
  height: 100%;
}
.cardLeft_main {
  width: 100%;
  height: calc(100% - 90px);
}
.cardLeft_main p:nth-child(1) {
  margin-top: 20px;
}
.cardLeft_main p:nth-child(1) img {
  margin-right: 20px;
}
.cardLeft_main p:nth-child(2) {
  margin-left: 70px;
  margin-top: 50px;
}
.cardLeft_main p:nth-child(3) {
  margin-left: 40px;
  margin-top: 50px;
}
.cardLeft_main p:nth-child(4) img {
  margin-right: 5px;
}
.cardLeft_main p img {
  width: 18px;
  height: 18px;
}
.cardRight {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.cardRight_header {
  width: 100%;
  height: 90px;
  line-height: 70px;
  display: flex;
  border-bottom: 1px dashed #ccc;
  margin-left: 20px;
}
.cardRight_header .img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  margin-top: 4px;
}
.cardRight_header .img img {
  width: 100%;
  height: 100%;
}
.ii {
  width: 100%;
  height: 130px;
  display: flex;
  line-height: 130px;
}
.ii .img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-top: 3px;
}
.ii .img img {
  width: 100%;
  height: 100%;
}
.iii {
  width: 100%;
  height: 60px;
  display: flex;
  line-height: 60px;
  margin-left: 20px;
}
.iii .img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  margin-top: 3px;
}
.iii .img img {
  width: 100%;
  height: 100%;
}
.shop {
  width: 90%;
  height: auto;
  border: 1px solid #3333;
  margin-top: 40px;
  color: rgb(88, 88, 88);
}
.shop_top {
  width: 100%;
  height: 50px;
  display: flex;
  color: rgb(131, 130, 130);
}
.shop_topcard {
  width: 83% !important;
  padding-left: 10px;
  justify-content: space-between !important;
}
.shop_top > div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-right: 1px solid #3333;
  border-bottom: 1px solid #3333;
}
.shop_top > div:nth-child(4) {
  border-right: none;
}
.shop_center {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
}
.shop_card {
  width: 79.1% !important;
  display: flex;
  padding: 20px;
}
.shop_center > div {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #3333;
}
.shop_center > div:nth-child(4) {
  border-right: none;
}
.shop_center:hover {
  transition: all 0.5s;
  background: #f5f7fa;
}
.shop_card .img {
  width: 100px;
  height: 100px;
}
.shop_card .img img {
  width: 100%;
  height: 100%;
}
.shop_card .img_item {
  width: 81%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.price {
  width: 90%;
  height: 150px;
  border-bottom: 1px solid #ccc;
  display: flex;
  margin-top: 10px;
}
.price_left {
  width: 70%;
  height: 100%;
}
.price_right {
  width: 30%;
  height: 100%;
}
.price_right div {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(131, 130, 130);
}
._order {
  width: 90%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px dashed #3333;
}
._order_item {
  width: 90%;
  height: auto;
  line-height: 50px;
  padding-left: 10px;
  color: rgb(0, 183, 255);
  font-size: 13px;
}
.pagintion {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}
</style>