<template>
    <div class="group">
        <div class="group_table">
          <avue-crud :data="pickUpPoints.data" :option="option" v-model:search="pickUpPoints.proSearch" @selection-change="pickUpPoints.pickChange" :page="page" @size-change="pickUpPoints.pickSizeChange" @current-change="pickUpPoints.pickCurrentChange">
              <template #addrName-search="{size}">
                <el-input :size="size" placeholder="模板名称"  v-model="pickUpPoints.proSearch.addrName"/>
            </template>
            <template #search-menu='{row,size}'>
                        <el-button type="primary" color='#02A1E9' @click="pickUpPoints.searchnoList(row)"  :size="size">
                            <svg t="1666702400921" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2543" width="13" height="13"><path d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z" fill="#ffffff" p-id="2544"></path></svg>
                            搜索
                        </el-button>
            </template>
              <template #menu-left="{}">
                <el-button type="primary"
                            color='#02A1E9'
                            icon="el-icon-plus" @click="pickUpPoints.pickUpPointsDisplayTrue">新增</el-button>
                <el-button type="danger"
                            color='#fab6b6'  @click="pickUpPoints.delets">批量删除</el-button>
              </template>
              <template #menu='{row,index,size}'>
            <el-button type="primary"
                        color='#02A1E9'
                        icon="el-icon-edit"
                        :size="size" @click="pickUpPoints.editpick(row)">修改</el-button>
            <el-button type="primary"
                        color='#F56C6C'
                        icon="el-icon-delete"
                        :size="size" @click="delone(row)">删除</el-button>
            </template>
          </avue-crud>
          <div class="group_table_pagination">
              
          </div>
          <MyAlert></MyAlert>
            <!-- 编辑 -->
        <el-dialog v-model="pickUpPoints.editpickDisplay" title="新增">
          <el-form :model="pickUpPoints.editpickForm" label-position='right' label-width="70px">
              <el-form-item label="名称">
                  <el-input v-model="pickUpPoints.editpickForm.addrName" />
              </el-form-item>
              <el-form-item label="省份">
                <el-select v-model="pickUpPoints.editpickForm.province" @change="pickUpPoints.selectProvince">
                    <el-option v-for="item in pickUpPoints.provinceList" :key="item.value" :label="item.areaName" :value="item.areaName"></el-option>
                </el-select>
                <el-select v-model="pickUpPoints.editpickForm.city" @change="pickUpPoints.selectCity">
                    <el-option v-for="item in pickUpPoints.cityList" :key="item.value" :label="item.areaName" :value="item.areaName"></el-option>
                </el-select>
                <el-select v-model="pickUpPoints.editpickForm.area" @change="pickUpPoints.selectarea">
                    <el-option v-for="item in pickUpPoints.areaList" :key="item.value" :label="item.areaName" :value="item.areaName"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="地址">
                  <el-input v-model="pickUpPoints.editpickForm.addr" />
              </el-form-item>
              <el-form-item label="手机号">
                  <el-input v-model="pickUpPoints.editpickForm.mobile" />
              </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="pickUpPoints.editpickDisplay = false">取消</el-button>
              <el-button type="primary" @click="pickUpPoints.editpickList()">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
            <!-- 新增 -->
        <el-dialog v-model="pickUpPoints.pickUpPointsDisplay" title="新增">
          <el-form :model="pickUpPoints.pickUpPointsForm" label-position='right' label-width="70px">
              <el-form-item label="名称">
                  <el-input v-model="pickUpPoints.pickUpPointsForm.addrName" />
              </el-form-item>
                <el-form-item label="省份">
                <el-select v-model="pickUpPoints.pickUpPointsForm.province" @change="pickUpPoints.selectProvince">
                    <el-option v-for="item in pickUpPoints.provinceList" :key="item.value" :label="item.areaName" :value="item.areaName"></el-option>
                </el-select>
                <el-select v-model="pickUpPoints.pickUpPointsForm.city" @change="pickUpPoints.selectCity">
                    <el-option v-for="item in pickUpPoints.cityList" :key="item.value" :label="item.areaName" :value="item.areaName"></el-option>
                </el-select>
                <el-select v-model="pickUpPoints.pickUpPointsForm.area" @change="pickUpPoints.selectarea">
                    <el-option v-for="item in pickUpPoints.areaList" :key="item.value" :label="item.areaName" :value="item.areaName"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="地址">
                  <el-input v-model="pickUpPoints.pickUpPointsForm.addr" />
              </el-form-item>
              <el-form-item label="手机号">
                  <el-input v-model="pickUpPoints.pickUpPointsForm.mobile" />
              </el-form-item>
          </el-form>
          <template #footer>
            <span class="dialog-footer">
              <el-button @click="pickUpPoints.pickUpPointsDisplay = false">取消</el-button>
              <el-button type="primary" @click="pickUpPoints.addpickList()">
                确定
              </el-button>
            </span>
          </template>
        </el-dialog>
        </div>
    </div>
  </template>
  
  <script setup lang='ts'>
  import userStore from '../../../../store'
  import MyAlert from "./MyAlert.vue"
  const {pickUpPoints}=userStore()
  pickUpPoints.getList()

       const options= [{
          value: '山西省',
          label: '山西省'
        }, {
          value: '内蒙古自治区',
          label: '内蒙古自治区'
        }, {
          value: '辽宁省',
          label: '辽宁省'
        }, {
          value: '吉林省',
          label: '吉林省'
        }, {
          value: '黑龙江省',
          label: '黑龙江省'
        },{
          value: '上海市',
          label: '上海市'
        },{
          value: '江苏省',
          label: '江苏省'
        }]

 
  const option={
    search: {},
        border:true,
        align:'center',
        addBtn: false,
        menuWidth: 350,
        searchBtn:false,
        emptyBtn:true,
        selection: true,
        editBtn:false,
        delBtn:false,
        searchMenuSpan:4,
        value: '',
            column:[{
                label:'自提点名',
                prop:'addrName',
                search:true
            },{
                label:'手机号',
                prop:'mobile',
            },{
                label:'省份',
                prop:'province',
            },{
                label:'城市',
                prop:'city',
            },{
                label:'区/县',
                prop:'area',
            },{
                label:'地址',
                prop:'addr',
            }
            ],
            
          }
          const delone=(row:any)=>{
            pickUpPoints.dialogVisible=true
            pickUpPoints.delId=row.addrId
}
          const page={
                      total:pickUpPoints.pickpage.total,
                      current:pickUpPoints.pickpage.current,
                      size:pickUpPoints.pickpage.size,
                    }
  </script>
  
  <style lang='scss' scoped>
      .group{
          width: 100%;
          height: 100%;
          padding: 24px;
          box-sizing: border-box;
          .group_table{
              margin-top: 10px;
              .group_table_pagination{
                  width: 100%;
                  height: 50px;
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
              }
          }
          
      }
      svg{
          margin-right: 5px;
      }
  </style>