<template>
    <div class="homepage">
        <div>一个基于spring boot、spring oauth2.0、mybatis、redis的轻量级、前后端分离、拥有完整sku和下单流程的完全开源商城</div>
        <div>该项目仅供学习参考、可供个人学习使用、如需商用联系作者进行授权，否则必将追究法律责任</div>
        <div>
            <p>前言</p>
            <div>亚米商城项目致力于为中小企业打造一个完整、易于维护的开源的电商系统，采用现阶段流行技术实现。后台管理系统包含商品管理、订单管理、运费模板、规格管理、会员管理、运营管理、内容管理、统计报表、权限管理、设置等模块。</div>
        </div>
        <div>
            <p>技术选型</p>
            <div>
                <table border="1px solod #000" cellspacing='0'>
                    <tr align='center'>
                        <td>技术</td>
                        <td>版本</td>
                        <td>说明</td>
                    </tr>
                    <tr>
                        <td>Spring Boot</td>
                        <td>2.1.6.RELEASE	</td>
                        <td>MVC核心框架</td>
                    </tr>
                    <tr>
                        <td>Spring Security oauth2</td>
                        <td>2.1.5.RELEASE	</td>
                        <td>认证和授权框架</td>
                    </tr>
                    <tr>
                        <td>MyBatis</td>
                        <td>3.5.0</td>
                        <td>ORM框架</td>
                    </tr>
                    <tr>
                        <td>MyBatisPlus</td>
                        <td>3.1.0</td>
                        <td>基于mybatis，使用lambda表达式的</td>
                    </tr>
                    <tr>
                        <td>Swagger-UI</td>
                        <td>2.9.2</td>
                        <td>文档生产工具</td>
                    </tr>
                    <tr>
                        <td>Hibernator-Validator</td>
                        <td>6.0.17.Final</td>
                        <td>验证框架</td>
                    </tr>
                    <tr>
                        <td>redisson</td>
                        <td>3.10.6</td>
                        <td>对redis进行封装、集成分布式锁等</td>
                    </tr>
                    <tr>
                        <td>hikari</td>
                        <td>3.2.0</td>
                        <td>数据库连接池</td>
                    </tr>
                    <tr>
                        <td>log4j2</td>
                        <td>2.11.2</td>
                        <td>更快的log日志工具</td>
                    </tr>
                    <tr>
                        <td>fst</td>
                        <td>2.57</td>
                        <td>更快的序列化和反序列化工具</td>
                    </tr>
                    <tr>
                        <td>orika</td>
                        <td>1.5.4</td>
                        <td>更快的bean复制工具</td>
                    </tr>
                    <tr>
                        <td>lombok</td>
                        <td>1.18.8</td>
                        <td>简化对象封装工具</td>
                    </tr>
                    <tr>
                        <td>hutool</td>
                        <td>4.5.0</td>
                        <td>更适合国人的java工具集</td>
                    </tr>
                    <tr>
                        <td>swagger-bootstrap</td>
                        <td>1.9.3</td>
                        <td>基于swagger，更便于国人使用的swagger ui</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <p>部署教程</p>
            <div>
                <p>1.开发环境</p>
                <div>
                    <table border="1px solod #000" cellspacing='0'>
                        <tr align='center'>
                            <td>工具</td>
                            <td>版本</td>
                        </tr>
                        <tr>
                            <td>jdk</td>
                            <td>1.8+</td>
                        </tr>
                        <tr>
                            <td>mysql</td>
                            <td>5.7+</td>
                        </tr>
                        <tr>
                            <td>redis</td>
                            <td>3.2+</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <p>2.启动</p>
                <ul>
                    <li>推荐使用idea，安装lombok插件，使用idea导入maven项目</li>
                    <li>将shop.sql导入到mysql中，修改 application-dev.yml更改 datasource.url、user、password</li>
                    <li>启动redis</li>
                    <li>通过 WebApplication启动项目后台接口， ApiApplication 启动项目前端接口</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>

</script>

<style lang='scss' scoped>
    .homepage{
        padding: 0 24px;
        box-sizing: border-box;
        font-size: 13px;
        background-color: #fff;
        padding-bottom: 50px;
        >div:nth-child(1){
            padding: 26px 0;
        }
        >div:nth-child(2){
            padding: 26px 0;
        }
        >div:nth-child(3){
            margin-bottom: 25px;
            p{
                padding: 15px 0;
                font-size: 20px;
                font-weight: bold;
            }
        }
        >div:nth-child(4){
            margin-bottom: 25px;
            p{
                padding: 15px 0;
                font-size: 20px;
                font-weight: bold;
            }
            div{
                margin-left: 50px;
                table{
                    tr{
                        td{
                            padding: 5px;
                        }
                    }
                    >tr:nth-child(1){
                        td{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        >div:nth-child(5){
            >p{
                padding: 15px 0;
                font-size: 20px;
                font-weight: bold;
            }
            >div{
                margin-top: 20px;
                p{
                    padding: 15px 0;
                    font-size: 15px;
                    font-weight: 600;
                    color: #323335;
                }
                div{
                    margin-left: 30px;
                    table{
                        tr{
                            td{
                                padding: 5px;
                            }
                        }
                        >tr:nth-child(1){
                            td{
                                padding: 5px;
                                font-weight: bold;
                            }
                        }
                    }
                }
                    ul{
                        margin-left: 50px;
                        li{
                            padding: 1px 0;
                        }
                    }
            }
        }
    }
</style>